@use 'uswds-utilities' as *;
@use '../variables' as *;
@use '../mixins' as *;

svg {
  max-width: 100%;
  height: auto;
}

.ext-link {
  white-space: nowrap;

  svg {
    margin-left: 0.2ex;
  }
}

figure {
  margin: 3rem 0 2rem;

  @include at-media('tablet') {
    margin: 0 0 3rem;

    * + & {
      margin-top: 6rem;
    }
  }
}
