{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $by_mail_intro := replace $translation.register.by_mail__intro "%link%" (partial "links/by-mail-link.html" .) }}

{{ $postmarkedDeadline := .Params.mail_postmarked_deadline | default .Params.default_mail_postmarked_deadline }}
{{ $receivedDeadline := .Params.mail_received_deadline | default .Params.default_mail_received_deadline }}
{{ $dates__electionday := .Params.dates__electionday | default $translation.register.dates__electionday }}

<h2>
  {{ if and (isset $translation.register "online__h2_question1_territory") (eq .Params.is_state "false") }}
    {{ replace $translation.register.heading2_territory "%state_name%" .Params.state_name }}
  {{ else }}
    {{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}
  {{ end }}
</h2>

<p>{{ replace $by_mail_intro "%state_name%" .Params.state_name | safeHTML }}</p>

{{ partial "deadlines.html" . }}
{{ partial "NVRF-download-tool.html" . }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ replace $by_mail_intro "%state_name%" .Params.state_name | safeHTML }}
    }
    },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $translation.register.dates__bymail_deadline }} {{ $postmarkedDeadline }}{{ $receivedDeadline }}"
        }
      }{{ if $dates__electionday }},{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $dates__electionday }}"
        }
      }{{ end }}]
  }
</script>
