{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<div class="grid-container page-inner mail-steps">
  <h1>
    {{ $translation.register.heading }}
  </h1>
  <p class="usa-intro">
    {{ replace $translation.register.by_mail.body "%state_name%" ( title .Title ) }}
  </p>
  <!-- Steps BEGIN -->
  <div class="usa-graphic-list">
    <div class="grid-row">
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}assets/img/step-1.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_one_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_one }}
        </p>
      </div>
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}assets/img/step-2.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_two_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_two }}
        </p>
      </div>
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}assets/img/step-3.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_three_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_three }}
        </p>
      </div>
    </div>
  </div>
  {{ partial "dates.html" . }}
  <!-- Steps END -->
</div>

<!-- Download form BEGIN -->
<div class="grid-container page-inner mail-download">
  {{ range $key, $form := $.Site.Data.registration_forms }}
    {{ if eq $key $.Site.Params.language }}
    <a class="usa-button" href="{{ $form.file_path }}" target="_blank">
      {{ $translation.register.by_mail.download }}
    </a>
    {{ end }}
  {{ end }}
  <p>
    {{ $translation.register.by_mail.download_others }}
  </p>
  <ul class=".usa-list.usa-list--unstyled  mail-download-list">
    {{ range $key, $form := $.Site.Data.registration_forms }}
      {{ if ne $key $.Site.Params.language }}
        <li>
          <a href="{{ $form.file_path }}" target="_blank">{{ $form.language }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<!-- Download form END -->
