{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<!-- Register BEGIN -->
<div class="grid-container page-inner main-content">
  <header>
    <h1>
      {{ $translation.register.not_needed.heading }}
    </h1>
  </header>
  <p class="usa-intro">
    {{ replace $translation.register.not_needed.body "%state_name%" ( title .Title ) }}
  </p>
  <p>
    <a href="{{ .Params.external_link }}?ref={{ .Site.Params.Referrer_Short_Code }}">
      {{ replace $translation.register.not_needed.link "%state_name%" ( title .Title ) }}
    </a>
  </p>
  {{ partial "dates.html" . }}
</div>
<!-- Register END -->
