{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $not_needed_intro := replace $translation.register.not_needed__intro "%link%" (partial "links/not-needed-link.html" .) }}

{{ $dates__electionday := cond (ne .Params.dates__electionday nil) .Params.dates__electionday $translation.register.dates__electionday }}

<h2>
  {{ if and (isset $translation.register "online__h2_question1_territory") (eq .Params.is_state "false") }}
    {{ replace $translation.register.heading2_territory "%state_name%" .Params.state_name }}
  {{ else }}
    {{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}
  {{ end }}  
</h2>
<p>{{ replace $not_needed_intro "%state_name%" .Params.state_name | safeHTML }}</p>

{{ partial "deadlines.html" . }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ replace $not_needed_intro "%state_name%" .Params.state_name | safeHTML }}
    }
    }{{ if $dates__electionday }},{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $dates__electionday }}"
        }
      }{{ end }}]
  }
</script>
