{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $not_needed_intro := replace $translation.register.not_needed__intro "%link%" (partial "links/not-needed-link.html" .) }}

{{ $dates__electionday := .Params.dates__electionday | default $translation.register.dates__electionday }}

<h2>{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}</h2>
{{ if isset .Params "of_state_name" }}
{{ $of_state_name := ( replace .Params.of_state_name "%state_name%" .Params.state_name ) }}
{{ $in_state_name := ( replace .Params.in_state_name "%state_name%" .Params.state_name ) }}
{{ $not_needed_intro = replace $not_needed_intro "%in_state_name%" $in_state_name }}
<p>{{ replace $not_needed_intro "%of_state_name%" $of_state_name | safeHTML }}</p>
{{ else }}
<p>{{ replace $not_needed_intro "%state_name%" .Params.state_name | safeHTML }}</p>
{{ end }}

{{ partial "deadlines.html" . }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ replace $not_needed_intro "%state_name%" .Params.state_name | safeHTML }}
    }
    }{{ if $dates__electionday }},{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $dates__electionday }}"
        }
      }{{ end }}]
  }
</script>
