{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $online_answer1 := replace $translation.register.online__answer1 "%link%" (partial "links/online-answer1-link.html" .) }}
{{ $online_answer2 := replace $translation.register.online__answer2 "%link%" (partial "links/online-answer2-link.html" .) }}

{{ $onlineDeadline := cond (ne .Params.online_deadline nil) (partial "date-format-online.html" .) .Params.default_online_deadline }}
{{ $dates__electionday := cond (ne .Params.dates__electionday nil) .Params.dates__electionday $translation.register.dates__electionday }}

<h2>{{ replace $translation.register.online__h2_question1 "%state_name%" .Params.state_name }}</h2>

<p class="reg-link">{{ replace $online_answer1 "%state_name%" .Params.state_name | safeHTML }}</p>
<p class="reg-link">{{ replace $online_answer2 "%state_name%" .Params.state_name | safeHTML }}</p>
{{ partial "deadlines.html" . }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.online__h2_question1 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ replace $online_answer1 "%state_name%" .Params.state_name | safeHTML }}
    }
    },{
        "@type": "Question",
        "name": "{{ replace $translation.register.online__h2_question2 "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{ replace $online_answer2 "%state_name%" .Params.state_name | safeHTML }}
    }
    },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $translation.register.dates__byonline_deadline }} {{ $onlineDeadline }}"
        }
      }{{ if $dates__electionday }},{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $dates__electionday }}"
        }
      }{{ end }}]
  }
</script>
