{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}
<!-- Register BEGIN -->
<div class="grid-container page-inner main-content">
  <header>
    <h1>
      {{ replace $translation.register.heading "%state_name%" ( title .Title ) }}
    </h1>
  </header>
  <p class="usa-intro">
    {{ replace $translation.register.online.body "%state_name%" ( title .Title ) }}
  </p>
  <p>
    <a  class="reg-link" href="{{ .Params.external_link }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
      {{ replace $translation.register.online.link "%state_name%" ( title .Title ) }}
      {{ if and (eq $.Site.Params.language "spanish") (eq .Params.english_only true) }}
        {{ $translation.register.english_only }}
      {{ else if and (eq $.Site.Params.language "spanish") (eq .Params.selecciones_link true) }} 
        {{ $translation.register.selecciones_link }}
        {{ end }}

    </a>
  </p>
  <p>
    <p>
    <a  class="reg-link" href="{{ .Params.external_link2 }}">
      </p>
</div>
<!-- Register END -->
