{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
<!-- To use a different link than the default one for any language use the variable name 'registration_link_override' in states-data.json for that language -->
{{ $registration_link := .Params.registration_link_override | default .Params.registration_link }}
<a href="{{ $registration_link }}{{ if in $registration_link "?" }}&{{ end }}?ref=voteusa_{{ .Site.Language.Lang }}">
{{- if and (isset $translation.register "online__answer1_link_territory") (eq .Params.is_state "false") }}
    {{ $translation.register.online__answer1_link_territory }}
{{ else }}
    {{- $translation.register.online__answer1_link }}
{{- end -}}
{{- if ne .Params.registration_link_translated "true" }}
{{ if .Params.registration_link_language_selection }}
{{ $translation.register.select_link }}
{{- else }}
{{ .Site.Params.english_only -}}
{{ end }}
{{- end }}</a>