<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="page-register-in-person">

    <div id="main" role="main">
      <a class="skipnav" href="#main-content">Skip main navigation</a>

      <!-- Register BEGIN -->
      <div class="usa-grid page-inner main-content">
        <header>
          <h1 class="usa-display">Register to vote</h1>
        </header>
        <p>Northern Mariana Islands requires residents to register in person at their local election office.</p>
        <p>
          <b>Visit the <a href="#">Northern Mariana Islands elections site</a> to find out how to register.</b>
        </p>
      </div>
      <!-- Register END -->
      
      {{ partial "go-back.html" . }}
      {{ partial "footer.html" . }}
    </div>

    {{ partial "analytics.html" . }}
    {{ partial "scripts.html" . }}

  </body>

</html>
