{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}


{{ partial "head.html" . }}

<body class="page-basic">
{{ partial "header.html" . }}
<div id="main-content" role="main">
  <div class="bg-blue css-arrow">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <a class="site-logo" href="{{ .Site.Home.RelPermalink }}" aria-label="Vote.gov">
            <div class="logo-text">{{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</div>
            <div id="SiteLogo">{{ partial "ballot_box-blue.svg" }}</div>
          </a>
        </div>
        <div id="skip-target" class="tablet:grid-col-8 right-shift">
          <div class="align-bottom">
            <h1 class="main-heading" >
              {{ replace $translation.register.heading "%state_name%" .Params.state_name }}
            </h1>
            <h1 class="main-heading" data-test="main-header">{{ .Title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4"></div>
        <div class="tablet:grid-col-8 right-shift">
          <section class="voter-info" data-test="vote-info">
            {{ .Content }}
          </section>

          <p class="arrow-text"><a href="{{ .Site.Home.RelPermalink }}" title="Vote.gov" data-test="back-button"><span class="arrow direction"></span>{{ .Site.Params.go_back }}</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
{{ partial "analytics.html" . }}
{{ partial "scripts.html" . }}
</body>

</html>
