{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}
<!-- Register BEGIN -->
<div class="grid-container page-inner main-content">
  <header>
    <h1>
      {{ replace $translation.register.heading "%state_name%" ( title .Title ) }}
    </h1>
  </header>
  <hr>
  <h2>{{ $translation.register.registration_heading }}</h2>
  <p class="usa-intro">
    {{ replace $translation.register.online.body "%state_name%" ( title .Title ) }}
  </p>
  <p>
    <!-- {{ $translation.register.online.link }} -->
    <a class="usa-button" href="{{ .Params.external_link }}?ref={{ $.Site.Params.Referrer_Short_Code }}" target="_blank">
      {{ $translation.register.online.button }}
      {{ if and (eq $.Site.Params.language "spanish") (eq .Params.english_only true) }}
        {{ $translation.register.english_only }}
      {{ else }} {{ end }}
    </a>
  </p>
  <br><br><hr>
  {{ partial "accordions.html" . }}
</div>

<!-- Register END -->
