<div class="usa-grid page-inner mail-steps">
  <h1>Register to vote</h1>
  <p class="usa-font-lead">{{ .Title }} allows residents to register by mail.</p>
  <!-- Steps BEGIN -->
  <div class="usa-width-one-third">
    <img src="{{ .Site.BaseURL }}assets/img/step-1.png">
    <h4>Step 1</h4>
    <p>Fill out your voter registration.</p>
  </div>
  <div class="usa-width-one-third">
    <img src="{{ .Site.BaseURL }}assets/img/step-2.png">
    <h4>Step 2</h4>
    <p>Mail it to your state.</p>
  </div>
  <div class="usa-width-one-third">
    <img src="{{ .Site.BaseURL }}assets/img/step-3.png">
    <h4>Step 3</h4>
    <p>Vote in the upcoming election!</p>
  </div>
  <!-- Steps END -->
</div>

<!-- Download form BEGIN -->
<div class="usa-grid page-inner mail-download">
  {{ range $key, $form := $.Site.Data.registration_forms }}
    {{ if gt $form.weight 0 }}
    <a class="usa-button" href="{{ $.Site.BaseURL }}{{ $form.file_path }}" target="_blank">Download the form (PDF)</a>
    {{ end }}
  {{ end }}
  <p>{{ $.Scratch.Get "alt_forms" }}</p>
  <p>Download the form in other languages:</p>
  <ul class="usa-unstyled-list">
    {{ $.Scratch.Set "alt_forms" 0 }}
    {{ range $.Site.Data.registration_forms }}
      {{ if lt .weight 1 }}
        {{ $.Scratch.Add "alt_forms" 1 }}
        <li>
          <a href="{{ $.Site.BaseURL }}{{ .file_path }}" target="_blank">{{ .language }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<!-- Download form END -->
