// Colors
$font-light: 300;
$font-medium: 400;
$inner-box-width: 25rem;
$inner-box-width-state: 35rem;
$color-blue: #2c7cc7;
$color-blue-dark: #11385b;
$color-blue-headings: $color-blue-dark;
$color-blue-light: #ecf2f8;
$color-grey: #e1e2e4;
$color-grey-dark: #4b4b4d;
$theme-color-base-family: #dcdee0;
$light-gray: #cddbee;
$gray: #808080;
$dark-cool-gray: #565c65;
$darkest-gray: #212721;
$blue: #417cc1;
$bright-blue: #2872be;
$color-blue-dark: #11385b;
$color-blue-headings: $color-blue-dark;
$deep-blue: #002f6c;
$blue-black: #1a3857;

$logo-width: 130px;
