// Imports -------------- //

@import '../../node_modules/uswds/src/stylesheets/all';

// Variables ------------ //

$font-light: 300;


// Styles --------------- //

h1 {
  color: $color-primary-darkest;
  margin-top: $site-margins;

  @include media($medium-screen) {
    margin-top: 1.5em;
  }
}

.usa-display {
  font-size: $h1-font-size;
  margin-bottom: .5em;
  margin-top: $site-margins;

  @include media($medium-screen) {
    font-size: $title-font-size;
    margin-top: 1.5em;
  }
}

.usa-font-lead {
  font-weight: $font-light;
}

.usa-site-header {
  border-bottom: 1px solid $color-gray-lighter;
}

.usa-disclaimer {
  background-color: $color-primary-darkest;
  color: $color-white;
  font-size: $h6-font-size;
}

.site-logo {
  h1 {
    @include margin (16px null);
    font-family: $font-sans;
    font-size: $h3-font-size;
  }

  a {
    color: $color-secondary-dark;
  }
}

footer {
  @include padding(1rem null);
  background-color: $color-gray-lightest;
  height: 5.7rem;

  a {
    @include h6();
    color: $color-base;
  }
}

.media_link {
  display: inline-block;
  line-height: 0;
}

.footer-logo {
  margin-top: 2px;
  max-width: 3.4rem;
}

.footer-link {
  float: right;
  margin-top: 1rem;
}

.page-inner {
  max-width: 63.8rem;
}

// Home page ------------ //

.page-vote {
  .usa-site-header {
    background-color: $color-primary;
    border-bottom: 0;
  }

  a {
    color: $color-white;
  }

  h1,
  label {
    color: $color-white;
  }

  // hack to remove margin and replace with padding for background color issues
  .usa-display {
    margin: 0;
    padding-top: $site-margins;

    @include media($medium-screen) {
      padding-top: 1.5em;
    }
  }

  .page-vote-main {
    @include linear-gradient($color-primary 66%, #003366 100%, $fallback: $color-primary);
  }

  .page-inner {
    min-height: 50rem;

    @include media($medium-screen) {
      min-height: 60rem;
    }
    
    // third level nesting
    header {
      @include media($medium-screen) {
        text-align: center;
      }
    }
  }

  footer {
    position: relative;

    a {
      color: $color-base;
    }
  }
}

.form-register {
  margin: 0 auto;

  @include media($medium-screen) {
    max-width: 29rem;
  }
  
  p {
    color: $color-white;
  }

  [type="submit"] {
    width: 100%;
  }
}

.footer-graphic {
  text-align: center;

  img {
    bottom: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 17.5rem;
  }
}

// Inner pages ---------- //

.main-content {
  padding-bottom: 2rem;

  @include media($medium-screen) {
    min-height: 50rem;
  }
}

.chevron-left {
  height: 1.4rem;
  fill: $color-primary;
  width: 1.4rem;
}

.section-back {
  padding-bottom: 6rem;
}

a:hover {
  > .chevron-left {
    fill: $color-primary-darker;
  }
}

.section-back-inner {
  border-top: 1px solid $color-gray-lighter;
  padding-top: 2rem;
}

// Register by mail --------- //

.mail-steps {
  margin-bottom: 2rem;
}

.mail-download {
  padding-bottom: $site-margins;

  @include media($medium-screen) {
    padding-bottom: 8.3rem;
  }
}
