// Imports -------------- //

@use 'sass:math';
$theme-show-notifications: false;
@import "../../node_modules/uswds/dist/scss/packages/required";
@import "../../node_modules/uswds/dist/scss/packages/global";

// Components ------------ //

@import '../../node_modules/uswds/dist/scss/packages/usa-header';
@import '../../node_modules/uswds/dist/scss/packages/usa-accordion';
@import '../../node_modules/uswds/dist/scss/packages/usa-collection';
@import '../../node_modules/uswds/dist/scss/packages/usa-footer';
@import '../../node_modules/uswds/dist/scss/packages/form-controls';
@import '../../node_modules/uswds/dist/scss/packages/usa-button';
@import '../../node_modules/uswds/dist/scss/packages/usa-alert';
@import '../../node_modules/uswds/dist/scss/packages/usa-banner';
@import '../../node_modules/uswds/dist/scss/packages/usa-skipnav';

@import './component/404.scss';
@import './component/usa-banner.scss';
@import 'component/language-switcher';


// Variables ------------ //

$font-light: 300;
$font-medium: 400;
$inner-box-width: 25rem;
$inner-box-width-state: 35rem;
$color-blue: #2c7cc7;
$color-blue-headings: #0071BC;
$color-blue-dark: #11385B;
$color-blue-light: #ecf2f8;
$color-grey: #e1e2e4;
$color-grey-dark: #4b4b4d;
$theme-color-base-family: #dcdee0;

p, label#emailsub, .registered-resources li, .updated-date {
  font-size: 1.06rem;
  line-height: 1.3rem;
}

.bg-blue {
  background: $color-blue;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.bg-lightblue {
  background: $color-blue-light;
  color: $color-blue-dark;
}

.bg-grey {
  background: $color-grey;
}

.bg-darkblue {
  background-color: $color-blue-dark;
}

.text-blue {
  color: $color-blue-headings;
}

.text-grey {
  color: $color-grey-dark;
}

.font-size-medium {
  font-size: 1.3em;
}

.max-width-input {
  display: inline-block;
  max-width: 25rem;
  width: 100%;
  margin-bottom: 1rem;
}

label.max-width-input {
  margin-bottom: 0;
}

.align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.right-shift {
  /*
  move the whole content on the right about 40 pixels to the right
  (this is due to the spanish logo text being so close to the content on the right)
  */
  @include at-media('tablet') {
    padding-left: 3rem !important;
  }
}

.css-arrow {
  position: relative;

  &::after {
    $arrow-width: 100px;
    $arrow-height: 30px;
    $arrow-half-width: math.div($arrow-width, 2);
    content: "";
    position: absolute;
    left: calc(50% - #{$arrow-half-width});
    bottom: -$arrow-height;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $arrow-height+1 $arrow-half-width 0 $arrow-half-width;
    border-color: $color-blue transparent transparent transparent;
    @include at-media('tablet') {
      content: none;
    }
  }
}

.arrow {
  border: solid $color-blue-dark;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
}

.direction {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 5px;
}

[dir="rtl"] .direction {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  margin-left: 5px;
}

.arrow-text a {
  color: $color-blue-dark;
  text-decoration: underline;
}

.usa-button {
  background-color: $color-blue-dark;
  color: white;
  margin-right: 0;
}

.usa-button:hover, .usa-button.usa-button--hover {
  color: white;
  background-color: $color-grey-dark;
  border-bottom: 0;
  text-decoration: none;
}

.usa-header .usa-alert--info {
  margin-top: 0;
}

.banner__text-container {
  flex: 1;
}

.usa-banner > .usa-accordion {
  border-bottom: 1px solid black;
}

.usa-banner__header {
  padding-right: 0.5rem;
}

.usa-banner__icon {
  margin-left: 0.3rem;
}

.usa-banner__button {
  margin-right: 0.5rem;
}

.usa-alert {
  padding: 0;
  margin-top: 0;
  border-left: 0.5rem solid #00bde3;
}

[dir="rtl"] .usa-alert {
  border-right: 0.5rem solid #00bde3;
  border-left: 0;
}

.usa-alert--info::before {
  display: none;
}

.usa-alert--info {
  background-image: unset;
  background-color: #e7f6f8;
  border: 0;

  .grid-container {
    background-image: url(../img/alerts/info.svg), linear-gradient(transparent, transparent);
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    display: flex;

    @include at-media('tablet') {
      background-position: 1rem 0.3rem;
    }
  }
}

[dir="rtl"] .usa-alert--info {
  .grid-container {
    background-position: calc(100% - 1rem) 1rem;

    @include at-media('tablet') {
      background-position: calc(100% - 1rem) 0.3rem;
    }
  }
}
.usa-alert--info .usa-alert__body {
  padding: 0 2.5rem;
}

.usa-alert--warning .usa-alert__body {
  padding: 0 2.5rem;
  line-height: initial;
}

.usa-alert__text:only-child {
  margin-bottom: 0.5rem;
  padding: 0.75rem 0 0.25rem;
}

[dir="rtl"] .usa-banner__header-flag {
  margin-left: 0.5rem;
  margin-right: 0;
}

.form-register {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }
}

$logo-width: 130px;

.site-logo {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;

  svg .ballot {
    transform: translateY(-4px);
    transition: transform 200ms;
  }

  &:hover,
  &:focus {
    svg .ballot {
      transform: translateY(0);
    }
  }

  #SiteLogo {
    width: $logo-width;
    max-width: unset;
    margin: auto;
    display: block;
  }

  @include at-media('mobile') {
    #SiteLogo {
      padding: 10px 0 10px;
    }
  }

  .logo-text {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 20px;
  }

  @include at-media('tablet') {
    #SiteLogo {
      position: absolute;
      bottom: $logo-width * -0.32 + 1;
      right: calc(50% - #{math.div($logo-width, 2)});
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .logo-text {
      margin: 40px 0 140px;
    }
  }
}

.page-vote {
  .site-logo {
    color: white;
    text-decoration: none;
    text-align: center;

    #SiteLogo {
      width: $logo-width;
    }

    .logo-text {
      margin: 20px 0 15px;
    }

    @include at-media('tablet') {
      $logo-width: 200px;

      #SiteLogo {
        width: $logo-width;
        bottom: $logo-width * -0.32 + 1;
        right: calc(50% - #{math.div($logo-width, 2)});
      }

      .logo-text {
        margin: 120px 0 200px;
      }
    }
  }

  .main-heading {
    font-size: 2em;
  }
}

.main-heading {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
}

.content-heading {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: normal;
}

.registered {
  color: $color-blue-dark;
  margin: 60px 0 60px;

  h2 {
    font-size: 2em;
  }

  a {
    color: $color-blue-dark;
  }
}

.registered-resources li {
  margin-bottom: 6px;
}

.voter-resources p {
  font-size: 1.3em;
  font-weight: bold;
}

.voter-info {
  color: $color-blue-dark;
  margin-bottom: 60px;
  margin-top: 40px;

  a {
    color: $color-blue-dark;
  }

  h2 {
    color: $color-blue-headings;
    margin-bottom: 0.5em;
    margin-top: 30px;
  }

  p {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

.usa-footer__primary-link {
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-size: 14pt;
  display: flex;
  align-items: center;

  .twitter-img {
    vertical-align: middle;
    padding-right: 20px;
    margin-left: 10px;
    width: 50px;
    height: 30px;
  }
}

.usa-footer__primary-link :visited {
  color: white;
}

.usagov-img {
  padding-bottom: 1rem;
  margin-top: 0;
  max-width: 220px;

  @include at-media('tablet') {
    margin-top: 1rem;
  }
}

.eac-logo-img {
  vertical-align: middle;
  max-width: 150px;
  padding: 1rem 0 1rem;

  @include at-media('tablet') {
    padding: 2.5rem 0 2.5rem;
  }
}

.eac-text {
  text-decoration: none;
  color: $color-blue-dark;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 10px;

  [dir="rtl"] & {
    margin-left: 10px;
    margin-right: 0;
  }
}

.footer-logos {
  padding: 2rem 0 2rem;
}

.policy {
  margin-top: .3rem;
}
