// Imports -------------- //

@import '../../node_modules/uswds/src/stylesheets/uswds';

// Variables ------------ //

$font-light: 300;
$inner-box-width: 25rem;
$color-blue-dark: #003366;
$color-blue-light: #0071bc;

// Styles --------------- //

body {
  background-color: color('base-lightest');
}

h1 {
  color: color('primary-darker');

  @include at-media('tablet') {
    margin-top: 1.5em;
  }
}

.usa-display {
  padding-top: 3rem;

  @include at-media('tablet') {
    font-size: 52px;
    margin-top: 1.5em;
  }
}

.usa-intro {
  font-weight: $font-light;
}

.usa-header {
  border-bottom: 1px solid color('base-lightest');
}

@import './component/disclaimer';

.site-logo {
  h1 {
    @include u-margin-top (2);
    @include u-margin-bottom (neg-2);
    font-family: family('sans');
    font-size: size('body', 'lg');
  }

  a {
    color: color('secondary-dark');
    text-decoration: none;
    background: url("../img/ballot_box-blue.svg") 0px 0 no-repeat;
    display: inline-block;
    padding: 7px 0 0px 50px;
    height: 50px;
  }
}

footer {
  padding-top: .6rem;
  background-color: color('base-lightest');
  height: 6.2rem;

  a {
    @include h6();
    color: color('base');

    &:hover {
      color: color('base');
    }
  }
}

.usa-media-link {
  display: inline-block;
  line-height: 0;
}

.usa-footer__primary-link {
  display: inline-block;

  &:visited {
    color: color('base');
  }
}

.usa-footer__logo {
  float: right;

  .spanish-img {
    margin-top: 3px;
    max-width: 6.5rem;
  }

  .english-img {
    margin-top: 2px;
    max-width: 2.875rem;
  }
}


.page-inner {
  max-width: 35rem;
}

// Home page ------------ //

.page-vote {
  .usa-header {
    background-color: $color-blue-light;
    border-bottom: 0;
  }

  section {
    color: color('white');

    a {
      color: color('white');
      text-decoration: underline;
      line-height: 1.5;
    }
  }

  .site-logo {
    a {
      color: color('white');
      background: url("../img/ballot_box-blue.svg") 0px 0 no-repeat;
      display: inline-block;
      padding: 7px 0 0px 50px;
      height: 50px;
    }
  }

  h1,
  label {
    color: color('white');
  }

  // hack to remove margin and replace with padding for background color issues
  .usa-display {
    margin: 0;

    @include at-media('tablet') {
      padding-top: 1.5em;
    }
  }

  .page-vote-main {
    background-image: linear-gradient($color-blue-light 66%, $color-blue-dark 100%);
  }

  .page-section {
    max-width: 63.3rem;
    margin-left: auto;
    margin-right: auto;

    // third level nesting
    header {
      @include at-media('tablet') {
        text-align: center;
      }
    }

  }

  .page-inner {
    min-height: 35rem;

    @include at-media('tablet') {
      min-height: 60rem;
    }

    // third level nesting
    header {
      @include at-media('tablet') {
        text-align: center;
      }
    }
  }

  .registered {

    .vote-heading {
      font-size: 1.25rem;

      @include at-media('mobile-lg') {
        font-size: 2.5rem;
      }
    }
  }

  footer {
    position: relative;
    margin-top: 22.75rem;
  }
}

.form-register {
  margin: 0 auto;

  .usa-select {
    margin-bottom: 1.5rem;
    -webkit-appearance: none;
  }

  @include at-media('tablet') {
    max-width: $inner-box-width;
  }

  [type="submit"] {
    width: 100%;
  }
}

.voter-resources {
  margin: 0 auto;

  @include at-media('tablet') {
    max-width: $inner-box-width;
  }
}

.footer-graphic {
  text-align: center;

  img {
    bottom: 44px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 10.9375rem;
  }
}

// Inner pages ---------- //

.main-content {

  @include at-media('tablet') {
    min-height: 35rem;
  }
}

.chevron-left {
  height: 1.4rem;
  fill: color('primary');
  width: 1.4rem;
}

.section-back {
  padding-bottom: 6rem;

  a {
    display: block;
    position: relative;
    width: 9rem;

    &:visited {
      color: color('primary');
    }
  }

  span {
    position: absolute;
    padding-left: 5px;
    top: -1px;
  }
}

a:hover {
  > .chevron-left {
    fill: color('primary-darker');
  }

  > span {
    color: color('primary-darker');
  }
}

.section-back-inner {
  border-top: 1px solid color('base-lighter');
  padding-top: 2rem;
}

// Register by mail --------- //

.mail-steps {
  margin-bottom: 2rem;
}

.mail-download {

  @include at-media('tablet') {
    padding-bottom: 8.3rem;
  }
}

.mail-download-list {
  a {
    text-decoration: underline;
  }
}

.usa-graphic-list {
  img {
    float: left;
    margin-right: 2rem;

    @include at-media('tablet') {
      float: none;
      margin-right: 0;
    }
  }

  p {
    margin-top: 0;

    @include at-media('tablet') {
      margin-top: 1em;
    }
  }
}

.usa-graphic-list__heading {
  clear: none;

  @include at-media('tablet') {
    clear: both;
  }
}

// 404 page ------------ //
.page-vote-404 {

  .page-inner {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  // these are the language-specific columns
  [lang] {
    padding-left: 2rem;
    padding-right: 2rem;

    @include at-media('tablet') {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    > .usa-label {
      text-transform: none;
    }

    h1 {
      @include h2();
      margin-top: 2rem;
    }
  }
}
