.nvrf-app-container {
  .usa-button {
    line-height: 1.2;
  }

  @media only screen and (max-width: 639px) {
    .mobile-width {
      width: 100%;
      max-width: 480px;
    }
  }

  .grid-container-tablet {
    max-width: 720px;
  }

  hr,
  .usa-prose > hr {
    border: 0;
    border-top: 1px solid #adadad;
    margin: 2rem 0;
  }

  .usa-form .usa-input {
    max-width: 480px;
  }

  h2.margin-0 {
    margin: 0;
  }

  .edit-btn .usa-button.usa-button--unstyled {
    background-color: transparent;
    color: #005ea2;
  }

  fieldset + .usa-hint {
    margin-top: 0.5rem;
  }

  .error-container {
    border-left: 3px solid #b50909;
    padding-left: 15px;

    .error-text {
      display: block;
    }
  }

  .error-text {
    color: #b50909;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: none;
  }

  .usa-step-indicator__header {
    @media (min-width: 640px) {
      position: absolute;
      text-indent: -9000px;
      overflow: hidden;
    }
  }

  .usa-alert__text {
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

#touchpoints-form-embed .fba-modal-dialog {
  margin: 0;
}

