
<div class="accordions">
  <h2>2020 Federal Elections Dates & Deadlines</h2>
  <!-- <h1>Styling is red with widescreen</h1> -->
  <button onclick="accordion()" id="b" class="usa-button usa-button--outline">Open All</button>
  <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div id="deadlines"></div>
      <script type="text/javascript">
        var stateObj = {{ index .Site.Data.dates2 (.Params.title | lower ) }}
        var stateDates = stateObj.important_dates
        for (var i = 0; i < stateDates.length; i++) {
          var eventName = stateDates[i].date_type;
          var eventDate = stateDates[i].date;
          //1. Create header
          var li = document.createElement('h3');
          li.innerHTML = eventName;
          li.classList.add('usa-accordion__heading');
          li.classList.add('usa-accordion__button');
          li.setAttribute('aria-expanded', 'false');
          //Name aria control attribute based on order in for loop
          li.setAttribute('aria-controls', 'b-a' + i);
          document.getElementById('deadlines').appendChild(li);
          //2. Create dropdown
          var date = document.createElement('div');
          date.innerHTML = eventDate;
          date.classList.add('usa-accordion__content');
          date.classList.add('usa-prose');
          date.setAttribute('id', 'b-a' + i);
          document.getElementById('deadlines').appendChild(date);
      }

      function open() {
        return (document.getElementById('b').innerHTML == 'Close All'? false : true);
      }

      function accordion() {
        var accordions = document.querySelectorAll('h3');
        event.preventDefault();
        for (var i = 0; i < accordions.length; i++) {
          var header = accordions[i];
          var dropdown = document.getElementById('b-a' + i);
          if(open()) {
            header.setAttribute('aria-expanded', 'true');
            dropdown.removeAttribute('hidden');
          } else {
            header.setAttribute('aria-expanded', 'false');
            dropdown.setAttribute('hidden', 'true');
          }
        }
        document.getElementById('b').innerHTML = (open()? 'Close All': 'Open All');
      }

    </script>
  </div>
  </div>
</div>
