{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<p>
  {{ replace $translation.register.by_mail.intro "%state_name%" .Params.state_name }}
</p>

<p>
  {{ $translation.register.by_mail.link_text }}
  <a  class="reg-link" href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
    {{ replace $translation.register.by_mail.link_text2 "%state_name%" .Params.state_name }}
    
    {{ if .Params.more_info_link_english_only }}
    {{ $translation.register.english_only }}
      {{ else if .Params.more_info_link_spanish_selection }} 
    {{ $translation.register.selecciones_link }}
    {{ end }} 
  </a>
</p>

<form class="state-download" method="get" id="register">
  <p>{{ $translation.register.other_language_selection.label }}</p>
  <label class="usa-sr-only" for="js-user-selection">
    {{ $translation.register.other_language_selection.default }}
  </label>

  <select class="usa-select max-width-input" name="userselection" id="js-user-selection">
    
    {{ range $key, $form := $.Site.Data.registration_forms }}
      {{ if eq $key $.Site.Params.language }}
        <option value="{{ $form.file_path }}">{{ $form.language }}</option>
      {{ end }}
    {{ end }}
    {{ range $key, $form := $.Site.Data.registration_forms }}
      {{ if ne $key $.Site.Params.language }}
        <option value="{{ $form.file_path }}">{{ $form.language }}</option>
      {{ end }}
    {{ end }}
  </select>
    
  <button class="usa-button max-width-input" id="js-user-submit" type="submit">
    {{ $translation.register.other_language_selection.submit }}
  </button>

</form>

<script type="text/javascript">
document.getElementById('register').onsubmit = function(ev) {
ev.preventDefault();
var languageSelected = document.getElementById('js-user-selection').value;
window.open(languageSelected, '_blank');
};
</script>

