{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<div class="grid-container page-inner main-content">
      
    <header>
      <h1>
    {{ replace $translation.register.heading "%state_name%" .Params.state_name }}
      </h1>
    </header>

    <div class="usa-alert usa-alert--warning covid-alert-state">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          {{ $translation.register.alert_state.alert_msg }}
          <a href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
           {{ $translation.register.alert_state.alert_msg1 }} 
            {{ if .Params.more_info_link_english_only }}
           {{ $translation.register.english_only }}
           {{ else if .Params.more_info_link_spanish_selection }} 
            {{ $translation.register.selecciones_link }}
           {{ end }} 
          </a>
           {{ $translation.register.alert_state.alert_msg2 }} 
        </p>
      </div>
    </div>

      <!--Heading 3-->
      <header>
        <h2>
          {{ replace $translation.register.online.heading3 "%state_name%" .Params.state_name }}
        </h2>
        </header>
          <!--Display Dates here-->
          <h3>
            {{  $translation.register.dates.bymail_bold }}
        </h3>
          <p class = "usa-intro">
            {{ if .Params.mail_deadline }}
            {{ replace $translation.register.dates.bymail_deadline "%mail_deadline%" .Params.mail_deadline }}
            {{end}}
          </p> 
          <h3>
            {{  $translation.register.dates.inperson_bold }}
        </h3>
          <p class = "usa-intro">
            {{ if .Params.ip_deadline }}
            {{ replace $translation.register.dates.inperson_deadline "%ip_deadline%" .Params.ip_deadline }}
            {{end}}
          </p>
      

          <!--Dates Displayed-->
          <!--Heading 4-->
       <header>
        <h2>
          {{ replace $translation.register.online.heading4 "%state_name%" .Params.state_name }}
        </h2>
        </header>

        <p class = "usa-intro">
          {{  $translation.register.online.h4_p }}
        </p>

    <p class="usa-intro">
      {{ replace $translation.register.by_mail.intro "%state_name%" .Params.state_name }}
    </p>
    
    <p class="usa-intro">
      {{ $translation.register.by_mail.link_text }}
      <a  class="reg-link" href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
        {{ replace $translation.register.by_mail.link_text2 "%state_name%" .Params.state_name }}
        
        {{ if .Params.more_info_link_english_only }}
        {{ $translation.register.english_only }}
          {{ else if .Params.more_info_link_spanish_selection }} 
        {{ $translation.register.selecciones_link }}
        {{ end }} 
     </a>
    </p>

    <!--<div class="usa-graphic-list">
      <div class="grid-row">
        <div class="grid-col-4">
          <img src="{{ .Site.BaseURL }}/assets/img/step-1.png">
          <h4 class="usa-graphic-list__heading">
            {{ $translation.register.by_mail.step_one_label }}
          </h4>
          <p>
            {{ $translation.register.by_mail.step_one }}
          </p>
        </div>
        <div class="grid-col-4">
          <img src="{{ .Site.BaseURL }}/assets/img/step-2.png">
          <h4 class="usa-graphic-list__heading">
            {{ $translation.register.by_mail.step_two_label }}
          </h4>
          <p>
            {{ $translation.register.by_mail.step_two }}
          </p>
        </div>
        <div class="grid-col-4">
          <img src="{{ .Site.BaseURL }}/assets/img/step-3.png">
          <h4 class="usa-graphic-list__heading">
            {{ $translation.register.by_mail.step_three_label }}
          </h4>
          <p>
            {{ $translation.register.by_mail.step_three }}
          </p>
        </div>
      </div>
    </div>
    Steps END -->
  


    <form class="state-download" method="get" id="register">
    <p class="usa-intro">{{ $translation.register.other_language_selection.label }}</p> <!--You can download form-->
    <label class="usa-sr-only" for="js-user-selection">
      {{ $translation.register.other_language_selection.default }}
    </label>

    <select class="usa-select" name="userselection" id="js-user-selection">
     
      {{ range $key, $form := $.Site.Data.registration_forms }}
        {{ if eq $key $.Site.Params.language }}
          <option value="{{ $form.file_path }}">{{ $form.language }}</option>
        {{ end }}
      {{ end }}
      {{ range $key, $form := $.Site.Data.registration_forms }}
        {{ if ne $key $.Site.Params.language }}
          <option value="{{ $form.file_path }}">{{ $form.language }}</option>
        {{ end }}
      {{ end }}
    </select>
      
    <button class="usa-button" id="js-user-submit" type="submit">
      {{ $translation.register.other_language_selection.submit }}
    </button>



<script type="text/javascript">
document.getElementById('register').onsubmit = function(ev) {
ev.preventDefault();
var languageSelected = document.getElementById('js-user-selection').value;
window.open(languageSelected, '_blank');
};
</script>

<!-- Download form END -->
