{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $aboutLink := $translation.footer.about_link | default .Site.Params.globalURL.about_link }}

<!-- contact START -->
<div class="bg-lightblue footer-contact" data-test="footer-contact">

    <div class="grid-container eac-vote-partnership">
      <div class="grid-row">
        <div class="tablet:grid-col-auto">
          <div class="vote-txt">Vote.gov</div>
          <img class="vote-logo" loading="lazy" width="130" height="160" src="{{ .Site.BaseURL }}/assets/img/ballot_box-blue.svg"
            alt="{{ $translation.footer.vote_logo_alt_text }}" aria-label="Vote.gov">
        </div>
        <div class="tablet:grid-col-auto partnership-txt">{{ $translation.footer.eac_text }}</div>
        <div class="tablet:grid-col-auto eac-container">
          <a href="{{ $translation.footer.eac_link }}">
            <img class="eac-logo" width="146" height="48" src="{{ .Site.BaseURL }}/assets/img/eac-logo.webp" alt="{{ replace $translation.footer.eac_logo_alt_text "%" "" }}">
          </a>
        {{ if eq .Site.Language.Lang "ypk"}}
        <div class="partnership-txt__1">{{ $translation.footer.eac_text__1 }}</div>
        {{ end }}
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col-auto twitter-container">
          <a href="{{ $translation.footer.twitter_link }}" class="twitter-link">
            <span>{{ replace $translation.footer.twitter_text "%" "" }}</span>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" height="28" width="28">
              <use xlink:href="{{ .Site.BaseURL }}/assets/img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
</div>
<!-- contact END -->

<!-- identifier START -->
<div class="footer-identifier" data-test="footer">
  <div class="grid-container">
    <section class="identifier-gsa grid-row grid-gap-2" aria-label="{{ $translation.footer.identifier_aria }}">
      <div><img src="{{ .Site.BaseURL }}/assets/img/gsa-logo.svg" alt="GSA logo" width="40" height="40"></div>
      <div class="grid-col-auto">
        Vote.gov <br>
        <strong aria-label="{{ $translation.footer.identifier_gsa_txt_aria }}" >{{ replace $translation.footer.identifier_gsa_txt "%link%" (partial "links/footer/identifier-gsa.html"
          .)|safeHTML }}</strong>
      </div>
    </section>
    <nav class="grid-row grid-gap identifier" aria-label="{{ $translation.footer.identifier_link_aria }}">
      <div class="tablet:grid-col-3">
        <ul class="usa-list usa-list--unstyled identifier-links">
          <li><a href="{{ .Site.BaseURL }}{{ $aboutLink }}">{{ $translation.footer.identifier_link_1 }}</a></li>
          <li><a href="https://www.gsa.gov/website-information/accessibility-aids">{{
              $translation.footer.identifier_link_2 }}</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <ul class="usa-list usa-list--unstyled identifier-links">
          <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia">{{
              $translation.footer.identifier_link_3 }}</a></li>
          <li><a
              href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002">{{
              $translation.footer.identifier_link_4 }}</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <ul class="usa-list usa-list--unstyled identifier-links">
          <li><a href="https://www.gsaig.gov/">{{ $translation.footer.identifier_link_5 }}</a></li>
          <li><a href="https://www.gsa.gov/reference/reports/budget-performance">{{
              $translation.footer.identifier_link_6 }}</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <ul class="usa-list usa-list--unstyled identifier-links">
          <li><a href="https://www.usa.gov/policies">{{ $translation.footer.identifier_link_7 }}</a></li>
        </ul>
      </div>
    </nav>
    <section aria-label="{{ $translation.footer.identifier_more_info_aria }}" class="identifier-gov-info">{{ replace
      $translation.footer.identifier_more_info "%link%" (partial "links/footer/identifier-more-info.html" .)|safeHTML }}
    </section>
  </div>
</div>
<!-- identifier END -->
