{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}

{{ $day := index $translation.day_number (string .Lastmod.Day) }}
{{ $month := index $translation.months (string (lower .Lastmod.Month)) }}
{{ $year := index $translation.years (string .Lastmod.Year) }}

<!-- If the localized version is incorrect make a language specific format -->
{{ $bengali := "bn" }}
{{ if eq .Site.Language.Lang $bengali }}

  {{ $day }} {{ $month }} {{ $year }}

{{ else }}

  {{ .Lastmod | time.Format ":date_long" }}

{{end}}

