{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $onlineDeadline := cond (ne .Params.online_deadline nil) .Params.online_deadline .Params.default_online_deadline }}
{{ $postmarkedDeadline := cond (ne .Params.mail_postmarked_deadline nil) .Params.mail_postmarked_deadline .Params.default_mail_postmarked_deadline }}
{{ $receivedDeadline := cond (ne .Params.mail_received_deadline nil) .Params.mail_received_deadline .Params.default_mail_received_deadline }}
{{ $ipDeadline := cond (ne .Params.ip_deadline nil) .Params.ip_deadline .Params.default_ip_deadline }}

{{ if ne .Params.registration_type "not-needed" }}
	<header>
		<h2>
			{{ if and (isset $translation.register "dates__heading_territory") (eq .Params.is_state "false") }}
                {{ replace $translation.register.dates__heading_territory "%state_name%" .Params.state_name }}
            {{ else }}
            	{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}
            {{ end }}
		</h2>
	</header>
{{end}}

<ul class="registered-resources">
  {{ if $onlineDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__byonline_deadline }}</span>
			{{ $onlineDeadline }}
		</li>
	{{end}}

	{{ if $postmarkedDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ $postmarkedDeadline }}
		</li>
	{{end}}

	{{ if $receivedDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ $receivedDeadline }}
		</li>
	{{end}}

	{{ if $ipDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__inperson_deadline }}</span>
			{{ $ipDeadline }}
		</li>
	{{end}}
</ul>

<!-- To use a different link than the default one for any language use the variable name 'confirm_registration_link_overide' in states-data.json for that language -->
{{ $confirm_registration_link := cond (ne .Params.confirm_registration_link_overide nil) .Params.confirm_registration_link_overide .Params.confirm_registration_link }}
{{ if $confirm_registration_link }}
{{ if not (in .Params.registration_type "not-needed") }}
<header>
  <h2>{{ $translation.register.confirm_registration__heading }}</h2>
</header>

{{ $confirm_registration__intro := $translation.register.confirm_registration__intro }}
{{ if and (eq .Params.state_name "Wyoming") (ne $translation.register.confirm_registration__intro_WY nil) }}
{{ $confirm_registration__intro = $translation.register.confirm_registration__intro_WY }}
{{ end }}
<p>
  {{ replace $confirm_registration__intro "%link%" (partial "links/confirm-registration-link.html" .)|safeHTML }}
</p>

{{ end }}
{{ end }}
