{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}

{{ if ne .Params.registration_type "not-needed" }}
	<header>
		<h2>
			{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}
		</h2>
	</header>
{{end}}
<ul class="registered-resources">
	{{ if .Params.online_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__byonline_deadline }}</span>
			{{ .Params.online_deadline }}
		</li>
	{{end}}
	{{ if .Params.mail_postmarked_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ .Params.mail_postmarked_deadline }}
		</li>
	{{end}}
	{{ if .Params.mail_received_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ .Params.mail_received_deadline }}
		</li>
	{{end}}
	{{ if .Params.ip_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__inperson_deadline }}</span>
			{{ .Params.ip_deadline }}
		</li>
	{{end}}
</ul>


{{ if isset .Params "confirm_registration_link" }}
    {{ if not (in .Params.registration_type "not-needed") }}
<header>
    <h2>{{ $translation.register.confirm_registration__heading }}</h2>
</header>

{{ if eq .Params.state_name "Wyoming"}}

<p>
    {{ replace $translation.register.confirm_registration__intro_WY "%link%" (partial "links/confirm-registration-link-WY.html" .)|safeHTML }}
</p>

{{ else }}

<p>
    {{ replace $translation.register.confirm_registration__intro "%link%" (partial "links/confirm-registration-link.html" .)|safeHTML }}
</p>

{{ end }}

{{ end }}
{{ end }}
