{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $postmarkedDeadline := .Params.mail_postmarked_deadline | default .Params.default_mail_postmarked_deadline }}
{{ $receivedDeadline := .Params.mail_received_deadline | default .Params.default_mail_received_deadline }}

{{ if ne .Params.registration_type "not-needed" }}
	<header>
		<h2>{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}</h2>
	</header>
{{end}}

<ul class="registered-resources">
	{{ if or (ne .Params.online_deadline nil) (ne .Params.default_online_deadline nil) }}
		{{ $onlineDeadline := cond (ne .Params.online_deadline nil) (partial "date-format-online.html" .) .Params.default_online_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__byonline_deadline }}</span>
			{{ $onlineDeadline }}
		</li>
	{{end}}

	{{ if $postmarkedDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ $postmarkedDeadline }}
		</li>
	{{end}}

	{{ if $receivedDeadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__bymail_deadline }}</span>
			{{ $receivedDeadline }}
		</li>
	{{end}}

	{{ if or (ne .Params.ip_deadline nil) (ne .Params.default_ip_deadline nil) }}
		{{ $ipDeadline := cond (ne .Params.ip_deadline nil) (partial "date-format-ip.html" .) .Params.default_ip_deadline }}
		<li>
			<span class="bold-text">{{ $translation.register.dates__inperson_deadline }}</span>
			{{ $ipDeadline }}
		</li>
	{{ end }}
</ul>

<!-- To use a different link than the default one for any language use the variable name 'confirm_registration_link_override' in states-data.json for that language -->
{{ $confirm_registration_link := .Params.confirm_registration_link_override | default .Params.confirm_registration_link }}
{{ if $confirm_registration_link }}
{{ if not (in .Params.registration_type "not-needed") }}
<header>
  <h2>{{ $translation.register.confirm_registration__heading }}</h2>
</header>

{{ $confirm_registration__intro := $translation.register.confirm_registration__intro }}
{{ if and (eq .Params.state_name "Wyoming") (ne $translation.register.confirm_registration__intro_WY nil) }}
{{ $confirm_registration__intro = $translation.register.confirm_registration__intro_WY }}
{{ end }}
<p>
  {{ replace $confirm_registration__intro "%link%" (partial "links/confirm-registration-link.html" .)|safeHTML }}
</p>

{{ end }}
{{ end }}
