{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<div class="usa-disclaimer">
  <div class="grid-container">
    <div class="usa-disclaimer-official">
      <div class="usa-disclaimer-official__img">
        <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="{{ .Site.BaseURL }}/assets/img/us_flag_small.png">
      </div>
      <div class="usa-disclaimer-official__body">
        {{ $translation.micro_copy.disclaimer }}
      </div>
    </div>
    {{ partial "language-switcher.html" . }}

    {{ if or ( not $.IsHome) (not $.IsNode) }}

        {{ partial "calendarButton.html" . }}

    {{end}}

  </div>
</div>
