<div class="usa-disclaimer">
  <div class="usa-grid">
    <span class="usa-disclaimer-official">
      <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="{{ .Site.BaseURL }}/assets/img/us_flag_small.png">
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
  </div>
</div>
