{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}

<!-- email sign up form START -->
<div class="bg-lightblue">
	<div class="grid-container footer-signup">
		<div class="">
			<form class="form-signup" action="{{ $translation.footer.subscribe_email_link_url }}" method="get">
				<h2 class="text-blue font-size-medium">{{ replace $translation.footer_identifier.subscribe_email "%USAGov%"
					"USAGov" }}</h2>
				<label class="max-width-input text-grey" for="email-2" id="emailsub">{{
					$translation.footer_identifier.your_email_address }}</label>
				<div class="grid-row">
					<input id="email-2" name="email" type="email" class="usa-input max-width-input">
					<button class="usa-button max-width-input signup-btn" id="user-submit" type="submit">{{
						$translation.footer_identifier.sign_up }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- email sign up form END -->

<!-- site nav START -->
<div class="bg-white">
	<div class="grid-container footer-site-nav">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-3">
				<div class="footer-site-logo">
				<h4>Vote.gov</h4>
				{{ partial "ballot_box-blue.svg" }}					
				</div>
			</div>
			<div class="tablet:grid-col-3">
				<h4>{{ $translation.footer_identifier.subpage_1_title }}</h4>
				<ul class="usa-list usa-list--unstyled footer-links footer-site-nav">
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path1 }}">{{ $translation.footer_identifier.subpage_1_link1 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path2 }}">{{ $translation.footer_identifier.subpage_1_link2 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path3 }}">{{ $translation.footer_identifier.subpage_1_link3 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path4 }}">{{ $translation.footer_identifier.subpage_1_link4 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path5 }}">{{ $translation.footer_identifier.subpage_1_link5 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path6 }}">{{ $translation.footer_identifier.subpage_1_link6 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_1_path7 }}">{{ $translation.footer_identifier.subpage_1_link7 }}</a></li>
				</ul>
			</div>

			<div class="tablet:grid-col-3">
				<h4>{{ $translation.footer_identifier.subpage_2_title }}</h4>
				<ul class="usa-list usa-list--unstyled footer-links footer-site-nav">
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path1 }}">{{ $translation.footer_identifier.subpage_2_link1 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path2 }}">{{ $translation.footer_identifier.subpage_2_link2 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path3 }}">{{ $translation.footer_identifier.subpage_2_link3 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path4 }}">{{ $translation.footer_identifier.subpage_2_link4 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path5 }}">{{ $translation.footer_identifier.subpage_2_link5 }}</a></li>
					<li><a href="{{ .Site.BaseURL }}{{ $translation.footer_identifier.subpage_2_path6 }}">{{ $translation.footer_identifier.subpage_2_link6 }}</a></li>
				</ul>
			</div>

			<div class="tablet:grid-col-3">
				<a class="return-button" href="#return">
					<div>
					<h4>Return to top</h4>
				<svg class="usa-icon circle return-arrow" aria-hidden="true" focusable="false" role="img">
					<use xlink:href="/assets/img/sprite.svg#expand_less"></use>
				</svg>						
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- site nav END -->

<!-- contact START -->
<div class="bg-lightblue">
	<div class="">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-3 desktop:grid-col-5"></div>
			<div class="tablet:grid-col-4 desktop:grid-col-3">
				<a href="{{ $translation.footer.twitter_link }}" class="twitter-link">
					<div class="follow-twitter">
						<div>
							<p>{{ replace $translation.footer_identifier.twitter_text "%Vote.gov%" "Vote.gov" }}</p>
							<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
								<use xlink:href="/assets/img/sprite.svg#twitter"></use>
							  </svg>
						</div>
					</div>
				</a>
		</div>
		<div class="tablet:grid-col-3 desktop:grid-col-3">
			<div class="email-vote">
				<div>
					<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        				<use xlink:href="/assets/img/sprite.svg#mail_outline"></use>
      				</svg>
					<p>vote@gsa.gov</p>
				</div>
			</div>
		</div>
				<div class="tablet:grid-col-1 desktop:grid-col-1"></div>

	</div>
  </div>
	</div>
</div>
<!-- contact END -->

<!-- identifier START -->
<div class="bg-blue">
	<div class="grid-container footer-identifier">
		<div class="grid-row">
			<div class="footer-gsa">
					<img src="{{ .Site.BaseURL }}/assets/img/gsa-logo.png" alt="">
				<div>
					Vote.gov <br>
					{{ $translation.footer_identifier.identifier_gsa_txt }}<a href="">{{ $translation.footer_identifier.identifier_gsa_txt__1 }}</a>
				</div>
			</div>
		</div>
<div class="grid-row grid-gap footer-identifier">
	<div class="tablet:grid-col-3">
		<ul class="usa-list usa-list--unstyled identifier-links">
			<li><a href="">{{ $translation.footer_identifier.identifier_link1 }}</a></li>
			<li><a href="">{{ $translation.footer_identifier.identifier_link2 }}</a></li>
		</ul>
	</div>
	<div class="tablet:grid-col-3">
		<ul class="usa-list usa-list--unstyled identifier-links">
			<li><a href="">{{ $translation.footer_identifier.identifier_link3 }}</a></li>
			<li><a href="">{{ $translation.footer_identifier.identifier_link4 }}</a></li>
		</ul>
	</div>
	<div class="tablet:grid-col-3">
		<ul class="usa-list usa-list--unstyled identifier-links">
			<li><a href="">{{ $translation.footer_identifier.identifier_link5 }}</a></li>
			<li><a href="">{{ $translation.footer_identifier.identifier_link6 }}</a></li>
		</ul>
	</div>
	<div class="tablet:grid-col-3">
		<ul class="usa-list usa-list--unstyled identifier-links">
			<li><a href="">{{ $translation.footer_identifier.identifier_link7 }}</a></li>
		</ul>
	</div>
</div>
<span class="divider-identifier"></span>
<div>{{ $translation.footer_identifier.identifier_more_info }}<a href="" class="identifier-links">{{ $translation.footer_identifier.identifier_more_info__1 }}</a></div>
	</div>
</div>
</div>
<!-- identifier END -->