{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}

<div class="bg-white">
	<div class="grid-container">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-4"></div>
			<div class="tablet:grid-col-8 right-shift">
				<form class="form-signup" action="{{ $translation.footer.subscribe_email_link_url }}" method="get">
					<h2 class="text-blue font-size-medium">{{ replace $translation.footer.subscribe_email "%USAGov%" "USAGov" }}</h2>

					<label class="max-width-input text-grey" for="email-2"
						id="emailsub">{{ $translation.footer.your_email_address }}</label>
					<input id="email-2" name="email" type="email" class="usa-input max-width-input">

					<button class="usa-button max-width-input" id="user-submit" type="submit">
						{{ $translation.footer.sign_up }}
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="bg-grey">
	<div class="grid-container footer-logos">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-1">
				<a href="{{ $translation.footer.usagov_link }}">
          <img class="{{ .Site.Language.Lang }}-img" src="{{ .Site.BaseURL }}/assets/{{ $translation.footer.usagov_img }}"
               alt="{{ replace $translation.footer.usagov_logo_alt_text "%USA.gov%" "USA.gov" }}">
				</a>
			</div>
			<div class="tablet:grid-col-11">
        <span class="{{ .Site.Language.Lang }}-eac-text">{{ $translation.footer.eac_text }}</span>
        <a href="{{ $translation.footer.eac_link }}">
          <img class="eac-logo-img" src="{{ .Site.BaseURL }}/assets/img/EAC-logo.svg"
               alt="{{ replace $translation.footer.eac_logo_alt_text "%U.S. Election Assistance Commission%" "U.S. Election Assistance Commission" }}"></a>
			</div>
		</div>
	</div>
</div>

<div class="bg-blue">
	<div class="grid-container">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-4">
				<a class="usa-footer__primary-link policy" href="{{ $translation.footer.privacy_policy_link_url }}">
					{{ $translation.footer.privacy_policy }}</a>
			</div>
			<div class="tablet:grid-col-8 right-shift">
				<a class="usa-footer__primary-link" href="{{ $translation.footer.twitter_link }}">
					<img class="twitter-img" src="{{ .Site.BaseURL }}/assets/img/Icon_Connect_Twitter_round.png"
						alt="twitter" />{{ replace $translation.footer.twitter_text "%Vote.gov%" "Vote.gov" }}
				</a>
			</div>
		</div>
	</div>
</div>
