{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}


<!doctype html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Params.language_direction }}">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDRBDKS');</script>
<!-- End Google Tag Manager -->

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title and meta description
  ================================================== -->
  {{ if .IsHome }}
<!--  HOME -->
  <title>{{ .Site.Title }} | {{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</title>
  <meta name="description" content="{{ .Site.Params.meta__description }}"/>
  <meta property="og:title" content="{{ .Site.Params.meta__title }}"/>
  <meta property="twitter:title" content="{{ .Site.Params.meta__title }}"/>

  <meta property="og:description" content="{{ .Site.Params.meta__description }}"/>
  <meta property="twitter:description" content="{{ .Site.Params.meta__description }}"/>
  
  {{ else }}
<!--  NODE -->
  <title>{{ replace $translation.register.state_heading "%state_name%" .Params.state_name }} | {{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</title>
  <meta name="description" content="{{ replace $translation.register.meta_name "%state_name%" .Params.state_name }}" />
  <meta property="og:title" content="{{ replace $translation.register.state_heading "%state_name%" .Params.state_name }}" />
  <meta property="twitter:title" content="{{ replace $translation.register.state_heading "%state_name%" .Params.state_name }}" />

  <meta property="og:description" content="{{ replace $translation.register.meta_name "%state_name%" .Params.state_name }}" />
  <meta property="twitter:description" content="{{ replace $translation.register.meta_name "%state_name%" .Params.state_name }}" />
  {{ end }}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ .Permalink }}"/>
  <meta property="og:image" content="https://vote.gov/assets/img/ballot-box-OG.png"/>
  <meta property="twitter:image" content="https://vote.gov/assets/img/ballot-box-OG.png"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@votegov">
  <meta name="twitter:widgets:autoload" content="off">
  <meta name="twitter:dnt" content="on">
  <meta name="twitter:widgets:csp" content="on">
  <link rel="me" href="{{ $translation.footer.twitter_link }}">
  <link rel="canonical" href="{{ .Permalink }}"/>

  <!-- Favicons
  ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{ .Site.BaseURL }}/assets/img/favicons/favicon.ico"/>
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/assets/img/favicons/favicon.png"/>

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ .Site.BaseURL }}/assets/img/favicons/favicon-192.png"/>

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/assets/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}/assets/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ .Site.BaseURL }}/assets/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ .Site.BaseURL }}/assets/img/favicons/favicon-144.png">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/styles/main.css">

  <!-- HTML5 Shiv
  ================================================== -->
  {{ `<!--[if lt IE 9]>
  <script src="` | safeHTML }}{{ .Site.BaseURL }}{{ `/assets/js/vendor/html5shiv.js"></script>
  <![endif]-->` | safeHTML }}

</head>
