{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<a class="skipnav" href="#main-content">
  {{ $translation.micro_copy.skip_text }}
</a>
<header class="usa-site-header" role="banner">
  {{ partial "disclaimer.html" . }}
  <nav class="usa-grid">
    <div class="site-logo" id="logo">
      <em>
        <a href="{{ .Site.BaseURL }}" accesskey="1" title="Home" aria-label="Home">
          {{ $translation.micro_copy.domain }}
        </a>
      </em>
    </div>
    <div class="site-header-select">
      <p>{{ $translation.micro_copy.where_vote }}</p>
      <label class="usa-sr-only" for="site-state-select">{{ $translation.micro_copy.select_state }}</label>
      <select id="site-state-select">
        <option value="">
          {{ $translation.micro_copy.select_state }}
        </option>
      </select>
    </div>
  </nav>
</header>
