{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $envURL := ( index $.Site.Params.envURL (os.Getenv "BRANCH") ) }}
{{ $envURL := cond (eq $envURL nil) $.Site.Params.envURL.fed $envURL }}
{{ $queryNum := substr (md5 now.Unix) 0 9 }}

<!-- unique state meta data variables -->
{{ $meta_title__register := replace $translation.register.state_heading "%state_name%" .Params.state_name }}
{{ if and (isset $translation.register "state_heading_territory") (eq .Params.is_state "false") }}
  {{ $meta_title__register = replace $translation.register.state_heading_territory "%state_name%" .Params.state_name }}
{{ end }}

{{ $meta_description__register := replace $translation.register.meta_name "%state_name%" .Params.state_name }}
{{ if and (isset $translation.register "meta_name_territory") (eq .Params.is_state "false") }}
  {{ $meta_title__register = replace $translation.register.meta_name_territory "%state_name%" .Params.state_name }}
{{ end }}


<!--use alternative strings for "in state name"-->
{{ $in_state_name := replace .Params.in_state_name "%state_name%" .Params.state_name }}
{{ if isset .Params "in_state_name" }}
  {{ $meta_title__register = replace $translation.register.state_heading "%in_state_name%" $in_state_name }}
  {{ $meta_description__register = replace $translation.register.meta_name "%in_state_name%" $in_state_name }}
{{ end }}

<!-- check if override meta data is available in front matter, if not use page title and description -->
{{ $meta_title := .Params.meta_title | default .Params.Title }}
{{ $meta_description := .Params.meta_description | default .Site.Params.meta__description }}

<!-- check if page type is "register" and use STATE meta data else use DEFAULT meta data -->
{{ $meta_title = cond (eq .Type "register") $meta_title__register $meta_title }}
{{ $meta_description = cond (eq .Type "register") $meta_description__register $meta_description }}


<!doctype html>
<html lang="{{ .Site.Language.Lang | replaceRE "-[a-z]+" "" }}" dir="{{ .Site.Params.language_direction }}">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDRBDKS');</script>
<!-- End Google Tag Manager -->

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bing Webmaster tools verification -->
  <meta name="msvalidate.01" content="A4BBA94A35A7C32BD206A988BE2C61FB" />

  <!-- JS
  ================================================== -->
  <script src="{{ .Site.BaseURL }}/assets/scripts/uswds-init.min.js"></script>

  <!-- Title and meta description
  ================================================== -->
  {{ if .IsHome }}
<!--  HOME -->
  <title>{{ .Site.Title }} | {{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</title>
  <meta name="description" content="{{ .Site.Params.meta__description }}"/>
  <meta property="og:description" content="{{ .Site.Params.meta__description }}"/>
  <meta property="og:title" content="{{ .Site.Params.meta__title }}"/>
  <meta property="twitter:title" content="{{ .Site.Params.meta__title }}"/>
  <meta property="twitter:description" content="{{ .Site.Params.meta__description }}"/>

  {{ else }}
<!--  NODE -->
  <title>{{ $meta_title }} | {{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</title>
  <meta name="description" content="{{ $meta_description }}" />
  <meta property="og:description" content="{{ $meta_description }}" />
  <meta property="og:title" content="{{ $meta_title }}" />
  <meta property="twitter:title" content="{{ $meta_title }}" />
  <meta property="twitter:description" content="{{ $meta_description }}" />
  {{ end }}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ $envURL }}{{ .Permalink }}"/>
  <meta property="og:image" content="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/ballot-box-OG.png"/>
  <meta property="twitter:image" content="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/ballot-box-OG.png"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@votegov">
  <meta name="twitter:widgets:autoload" content="off">
  <meta name="twitter:dnt" content="on">
  <meta name="twitter:widgets:csp" content="on">
  <link rel="me" href="{{ $translation.footer.twitter_link }}">
  <link rel="canonical" href="{{ $envURL }}{{ .Permalink }}"/>

  <!-- Favicons
  ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote.ico"/>
  <link rel="icon" type="image/png" href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote.png"/>

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote-192.png"/>

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon" href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon" sizes="72x72" href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon" sizes="114x114"
        href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon" sizes="144x144"
        href="{{ $envURL }}{{ .Site.BaseURL }}/assets/img/favicons/favicon-vote-144.png">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/styles/main.css?v={{ $queryNum }}">
  <!--If website language is Navajo, load the Navajo font-->
  {{ if eq .Site.Language.Lang "nv" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/fonts/navajo-font/stylesheet.css?v={{ $queryNum }}">
  {{ end }}

  <!-- Crazy Egg  -->
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0007/9651.js" async="async" ></script>
  <!-- End Crazy Egg  -->

</head>
