{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}
{{ $title := ( replace .Title "." "" | lower | urlize ) }}
{{ $slug := .Slug }}

<div class="translations">

  {{ if ( eq $.Site.Params.language "english" ) }}

  <a

    {{ if .IsHome }}
    href="{{ $.Site.BaseURL }}es/"
    {{ else }}
    href="{{ $.Site.BaseURL }}es/registrar/{{( index $translation.states $title ).file }}"
    {{ end }}

    class="usa-button translation-link">
    Español
  </a>

  {{ else }}

  <a

    {{ if .IsHome }}
    href="{{ $.Site.BaseURL }}"
    {{ else }}
    href="{{ $.Site.BaseURL }}register/{{( index $translation.states $slug ).file }}"
    {{ end }}

    class="usa-button translation-link">
    English
  </a>

  {{ end }}

</div>

