{{ $state := .Params.state_abbreviation | lower }}
<div class="translations">
  {{ if gt (len $.Site.Home.AllTranslations) 2 }}
  <label for="language-switcher">Change Language:</label>
  <select name="language-switcher" id="language-switcher" onchange="window.location=this.value;">
    <option value="">- Select a language -</option>
    {{ range $.Site.Home.AllTranslations }}
    <option value="{{ if ($.IsHome) }}{{ .RelPermalink }}
  {{ else }}{{ .RelPermalink }}{{ .Site.Params.register_path }}/{{ $state }}{{ end }}">{{ .Language.LanguageName }}</option>
    {{ end }}
  </select>
  {{ else }}
  {{ range $.Site.Home.AllTranslations }}
  {{ if ne .Language.Lang $.Language.Lang }}
  <a lang="{{ .Language.Lang }}" href="{{ if ($.IsHome) }}{{ .RelPermalink }}
  {{ else }}{{ .RelPermalink }}{{ .Site.Params.register_path }}/{{ $state }}{{ end }}" class="usa-button translation-link">
    {{ .Language.LanguageName }}
  </a>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
