{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}
<!-- Register BEGIN -->
<div class="grid-container page-inner main-content">
  <header>
    <h1>
      {{ replace $translation.register.heading "%state_name%" .Params.state_name }}
    </h1>
  </header>

  <div class="usa-alert usa-alert--warning covid-alert-state">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        {{ $translation.register.alert_state.alert_msg }}
        <a href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
         {{ $translation.register.alert_state.alert_msg1 }} 
          {{ if .Params.more_info_link_english_only }}
         {{ $translation.register.english_only }}
         {{ else if .Params.more_info_link_spanish_selection }} 
          {{ $translation.register.selecciones_link }}
         {{ end }} 
        </a>
         {{ $translation.register.alert_state.alert_msg2 }} 
      </p>
    </div>
  </div>
  <p class="usa-intro">
    {{ replace $translation.register.online.body "%state_name%" .Params.state_name }}
  </p>

  <header>
  <h2>
    {{ replace $translation.register.online.heading2 "%state_name%" .Params.state_name }}
  </h2>
  </header>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "{{ replace $translation.register.online.heading2 "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ replace $translation.register.online.link "%state_name%" .Params.state_name }}<a href='{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}'>{{ replace $translation.register.online.link1 "%state_name%" .Params.state_name }}</a>"
        }
      },{
        "@type": "Question",
        "name": "{{ replace $translation.register.online.h2_text "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ replace $translation.register.online.h2_p "%state_name%" .Params.state_name }}{{ replace $translation.register.online.h2_link "%state_name%" .Params.state_name }}<a href='{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}'>{{ replace $translation.register.online.h2_link1 "%state_name%" .Params.state_name }}</a>"
        }
    }]
    }
    </script>

  <p> 
    <p class="reg-link">
    {{ replace $translation.register.online.link "%state_name%" .Params.state_name }}
    <a href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
    {{ replace $translation.register.online.link1 "%state_name%" .Params.state_name }}
      {{ if .Params.registration_link_english_only }}
        {{ $translation.register.english_only }}
      {{ else if .Params.registration_link_spanish_selection }} 
        {{ $translation.register.selecciones_link }}
      {{ end }}
    </a>
  </p>

  <header>
  <h2>
    {{ replace $translation.register.online.h2_text "%state_name%" .Params.state_name }}
  </h2>
  </header>
  
    <p class="reg-link">
    {{ replace $translation.register.online.h2_p "%state_name%" .Params.state_name }}
    {{ replace $translation.register.online.h2_link "%state_name%" .Params.state_name }}
    <a href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
    {{ replace $translation.register.online.h2_link1 "%state_name%" .Params.state_name }}

      {{ if .Params.more_info_link_english_only }}
        {{ $translation.register.english_only }}
      {{ else if .Params.more_info_link_spanish_selection }} 
        {{ $translation.register.selecciones_link }}
      {{ end }} 
    </a>
  </p>

</div>
<!-- Register END -->
