<!-- Uncomment once we have some actual code to include.
     Script code should go in assets/scripts/start.js, and will be
     browserify'ed by `gulp script`

    <script src="{{ .Site.BaseURL }}assets/scripts/main.js"></script>
-->
<script src="{{ .Site.BaseURL }}/assets/scripts/main.js"></script>
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>

{{ if .Params.crazyegg }}
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0007/9651.js" async="async"></script>
{{ end }}