{{ $queryNum := substr (md5 now.Unix) 0 9 }}

<!-- Uncomment once we have some actual code to include.
     Script code should go in /assets/scripts/start.js, and will be
     browserify'ed by `gulp script`

    <script src="{{ .Site.BaseURL }}/assets/scripts/main.js"></script>
-->
{{ if eq .Site.Language.Lang "en" }}
<button type="button" id="touchpoints-form-embed" class="usa-button" data-test="improve-button">How can we improve Vote.gov?
</button>
<script src="https://touchpoints.app.cloud.gov/touchpoints/3680b407.js" async></script>
{{ end }}

<script src="{{ .Site.BaseURL }}/assets/scripts/main.js?v={{ $queryNum }}"></script>
