{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}


{{ partial "state-head.html" . }}

<body class="page-register-{{ .Params.registration_type }}">
  {{ partial "header.html" . }}
  <div id="main-content" role="main">
    <div class="bg-blue css-arrow">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4">
            <a class="site-logo" href="{{ .Site.BaseURL }}/{{ $translation.root_path }}" aria-label="Vote.gov">
              <div class="logo-text">{{ $translation.homepage.site_name }}</div>
              <img id="SiteLogo" src="{{ .Site.BaseURL }}/assets/img/ballot_box-blue.svg" alt="">
            </a>
          </div>
          <div id="skip-target" class="tablet:grid-col-8 right-shift">
            <header class="align-bottom">
              <h1 class="main-heading">
                {{ replace $translation.register.heading "%state_name%" .Params.state_name }}
              </h1>
            </header>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-lightblue">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4"></div>
          <div class="tablet:grid-col-8 right-shift">
            <section class="voter-info">
              {{ .Render ( print "types/" .Params.registration_type ) }}
              <time class="updated-date" datetime="{{ .Lastmod }}">
                {{ $translation.register.dates.last_updated }}

                {{/* TODO: Create a Date template if we use dates in more places */}}
                {{ if eq $.Site.Params.lang "en" }}
                {{ .Lastmod.Format "January 2, 2006" }}
                {{ else }}
                {{ .Lastmod.Day }} de {{ index $translation.months (printf "%d" .Lastmod.Month) }} de
                {{ .Lastmod.Year }}
                {{ end }}

              </time>
            </section>
            <p class="arrow-text"><a href="/" title="Vote.gov"><span class="arrow left"></span>Go back</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      {{ partial "footer.html" . }}
    </footer>

  </div>
  {{ partial "analytics.html" . }}
  {{ partial "scripts.html" . }}
</body>

</html>