{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}

<div class="bg-blue css-arrow">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <div class="site-logo" data-test="vote-logo" aria-label="Vote.gov">
          <div class="logo-text">{{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</div>
          <div id="SiteLogo">{{ partial "ballot_box-blue.html" . }}</div>
        </div>
      </div>
      <div id="skip-target" class="tablet:grid-col-8 right-shift">
        <section class="register align-bottom" role="region" aria-label="{{ $translation.homepage.header }}">
          <header>
            <h1 class="main-heading" data-test="main-header">{{ $translation.homepage.header | safeHTML }}</h1>
          </header>

          <h2>{{ $translation.homepage.state_selection__heading }}</h2>

          <div class="usa-language-container usa-language--large vote--state-selector">
            <ul class="usa-language__primary usa-accordion">
              <li class="usa-language__primary-item">
                <button
                  type="button"
                  class="usa-button usa-language__link"
                  role="button"
                  aria-expanded="false"
                  aria-controls="state-options"
                >
                  {{ $translation.homepage.state_selection__default }}
                </button>
                <ul id="state-options" class="usa-language__submenu" hidden="true">
                  {{ $states := where .Site.RegularPages.ByTitle "Section" .Site.Params.register_path }}
                  {{ range ($states.ByParam "state_name") }}
                  <li class="usa-language__submenu-item">
                    <a href="{{ .Site.Home.RelPermalink }}{{ .Site.Params.register_path }}/{{ .Params.state_abbreviation | lower }}">{{ .Params.state_name }}</a>
                  </li>
                  {{ end }}
                </ul>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
