<div class="bg-img" style="background-image: url('{{ .Site.BaseURL }}/assets/img/placeholder-image.jpeg')">
  <div class="bg-blue-transparent">
  <div class="grid-container">
      <div class="grid-row grid-gap">

        <div class="subpage-header">
          <header class="align-bottom">
            <h1 class="main-heading">What's voter registration?</h1>
            <span class="divider-short"></span>
            <h2 class="">Description or teaser text. Lorem ipsum dolor sit amet, consectetur</h2>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
