    <nav aria-label="Side navigation,">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">Voting Basics</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);" class="usa-current">What's voter registration</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">Questions about the voting process</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">Congressional Elections and Midterm Elections</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">State and local elections</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">What is a primary election?</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">What is a caucus?</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">The Presidential election process</a>
    </li>
  </ul>
  </nav>
