@use 'uswds-core' as *;
@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:math';

.page-vote {
  min-height: 100%;
  min-width: 100%;

  .site-logo {
    color: white;
    text-decoration: none;
    text-align: center;

    #SiteLogo {
      width: $logo-width;
    }

    .logo-text {
      margin: 20px 0 15px;
    }

    @include at-media('tablet') {
      $logo-width: 200px;

      #SiteLogo {
        width: $logo-width;
        bottom: $logo-width * -0.32 + 1;
        right: calc(50% - #{math.div($logo-width, 2)});
      }

      .logo-text {
        margin: 120px 0 200px;
      }
    }
  }

  .main-heading {
    font-size: 2em;
  }
}

.form-register {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }
}

.registered {
  color: $color-blue-dark;
  margin: 60px 0 60px;

  h2 {
    font-size: 2em;
  }

  a {
    color: $color-blue-dark;
  }
}

#state-combo-box {
  margin-bottom: 50px;
}

.usa-combo-box__input-button-separator {
  background-color: #c6cace;
  top: 1px;
  height: calc(100% - 1rem);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 1px;
  right: calc(2.5em + 2px);
  box-sizing: border-box;
  z-index: 200;
}

.usa-language__submenu {
  columns: 3 auto;
}

.usa-language__submenu__list {
  list-style: none;
  white-space: normal;
  margin-top: 0;
}

.input-buttons-group {
  width: 400px;
  max-width: 100%;
  position: relative;

  input {
    border-width: 1px;
    border-color: #5c5c5c;
    border-style: solid;
    border-radius: 0;
    color: #1b1b1b;
    height: 2.5rem;
    margin-top: 0.5rem;
    max-width: 30rem;
    padding: 0.5rem;
    width: 100%;
  }

  button {
    background-color: transparent;
    height: 80%;
    aspect-ratio: 1;
    right: 0;
    bottom: 0;
    position: absolute;
    border: none;
    border-bottom: 1px 0 solid black;
  }

  .reset-btn {
    margin-right: 29px;
    background-image: url(../img/usa-icons/close.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    margin-bottom: -6px;  
    fill: #5c5c5c;
  }

  .dropdown-btn {
    background-image: url(../img/usa-icons/expand_more.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-size: auto 2.3rem;
    fill: #5c5c5c;
    }

  .btn-divider {
    background-color: #c6cace;
    position: absolute;
    top: 8%;
    height: calc(100% - 1rem);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 1px;
    right: 37px;
    box-sizing: border-box;
    z-index: 200;
  }

}

#results-container {
  background-color: #1C2D4E;
  border-radius: 5px;
  border-top-left-radius: 0px;
  color: white;
  columns: 3;
  column-gap: 48px;
  position: absolute;
  z-index: 400;
  padding: 30px 30px 24px 30px;

  @media only screen and (max-width: 600px) {
    columns: auto;
    overflow: auto;
    min-height: unset;
    max-height: 230px;
    min-width: unset;
    width: 400px;
    border-top-right-radius: 0px;
  }

  #results-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 600;
      font-size: 16px;
      color:#FFF;  
      overflow: auto;
      padding-bottom: 24px;
      
      a {
        color: white;
        text-decoration: none;
      }
    }
    li:hover {
      font-weight: 900;
      text-decoration:underline;
      font-size: 16px;
      color:#FFF;
    }

  }
}