@use 'uswds-core' as *;
@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:math';

.page-vote {
  min-height: 100%;
  min-width: 100%;

  .site-logo {
    color: white;
    text-decoration: none;
    text-align: center;

    #SiteLogo {
      width: $logo-width;
    }

    .logo-text {
      margin: 20px 0 15px;
    }

    @include at-media('tablet') {
      $logo-width: 200px;

      #SiteLogo {
        width: $logo-width;
        bottom: $logo-width * -0.32 + 1;
        right: calc(50% - #{math.div($logo-width, 2)});
      }

      .logo-text {
        margin: 100px 0 200px;
      }
    }
  }

  .main-heading {
    font-size: 2em;
  }
}

.registered {
  color: $color-blue-dark;
  margin: 60px 0;

  h2 {
    font-size: 2em;
  }

  a {
    color: $color-blue-dark;
  }
}

#state-combo-box {
  margin-bottom: 2.5rem;

  label {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin: 0 0 1rem;
  }
}

.input-buttons-group {
  max-width: 400px;
  width: auto;
  position: relative;

  input[type="text"] {
    border: 0;
    padding: 0.5rem 48px 0.5rem 0.5rem;
    height: 40px;
    width: 100%;
    line-height: 1.5;
  }

  .input-control-container {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;

    button.dropdown-btn {
      padding: 0;
      height: calc(100% - 0.5rem);
      margin: 0.25rem 0;
      width: 40px;
      border: none;
      background: transparent url("../img/usa-icons/expand_more.svg") center center no-repeat;
      background-size: auto 2.3rem;
      border-left: 1px solid #c6cace;
    }
  }
}

#state-results-container {
  background-color: #1C2D4E;
  border-radius: 5px;
  border-top-left-radius: 0;
  position: absolute;
  z-index: 400;
  padding: 20px;
  max-width: 400px;
  width: 100%;

  &[data-empty] {
    display: none;
  }

  @media all and (min-width: 800px) {
    max-width: 500px;

    &[data-filtered] {
      max-width: 400px;
    }
  }

  @media all and (min-width: 1024px) {
    max-width: 600px;
  }
}

#results-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media all and (min-width: 800px) {
    columns: 2;

    [data-filtered] & {
      columns: 1;
    }
  }

  @media all and (min-width: 1024px) {
    columns: 3;

    [data-filtered] & {
      columns: 1;
    }
  }


  li {
    display: inline-block;
    width: 100%;
    padding: 8px;

    &[hidden] {
      display: none;
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
