{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

{{ partial "head.html" . }}
  <body class="page-register-single">
    {{ partial "header.html" . }}
    <div class="page-vote-main" id="main" role="main">

      <a class="skipnav" href="#main-content">Skip main navigation</a>

      <section class="usa-grid page-inner" id="main-content">
        <header>
          <h1 class="usa-display">Sorry, this is a bad page with broken copy and everything is horrid.</h1>
          <h1 class="usa-display">Lo siento, pero esta página está hecha de sueños rotos y queso podrido.</h1>
        </header>

        <p class="usa-font-lead">Now, <a href="/">scurry on back to the front page</a> before the web bugs eat you!</p>

          <p class="usa-font-lead">¡Rápido! <a href="/es/">Vamos a ir a la primera página</a> antes de ser destruidos por las bestias de la Internet!</p>
        
      <!-- Footer BEGIN -->
      <footer>
        {{ partial "footer.html" . }}
      </footer>
      <!-- Footer END -->

    </div>

    {{ partial "analytics.html" . }}
    {{ partial "scripts.html" . }}

  </body>

</html>
