{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

{{ partial "head.html" . }}
  <body class="page-register-single">
    {{ partial "header.html" . }}
    <div class="page-vote-404" id="main" role="main">

      <a class="usa-skipnav" href="#main-content">Skip main navigation</a>

      <section class="grid-container page-inner" id="main-content">
        <div class="grid-row">
          <div lang="en" class="grid-col-6">
            <span class="usa-label">English</span>
            <h1>Oops! 404 error</h1>

            <p class="usa-intro">We’re sorry, but the page you’re looking for might have been removed, had its name changed, or is temporarily unavailable.</p>

            <p>What should you do?</p>

            <ul>
              <li>If you typed the page URL, check the spelling.</li>
              <li>Go to our <a href="/">main page</a> and try again.</li>
              <li>Visit your <a href="https://www.usa.gov/election-office">state’s election office website</a> for state-wide voting guidance.</li>
            </ul>
          </div>

          <div lang="es" class="grid-col-6">
            <span class="usa-label">Español</span>
            <h1>¡Oops! 404 error</h1>

            <p class="usa-intro">La página que busca no está disponible.</p>

            <p>¿Qué puede hacer?</p>

            <ul>
              <li>Si entró el URL de la página manualmente, fíjese si es el correcto o si hubo algún error al ingresarlo.</li>
              <li>Vaya a nuestra <a href="/es/">página de inicio</a> e intente otra vez.</li>
              <li>Visite la <a href="https://www.usa.gov/election-office">oficina electoral de su estado o territorio (en inglés)</a> para obtener más información.</li>
            </ul>
          </div>
        </div>

      </section>

      <!-- Footer BEGIN -->
      <footer>
        {{ partial "footer.html" . }}
      </footer>
      <!-- Footer END -->

    </div>

    {{ partial "analytics.html" . }}
    {{ partial "scripts.html" . }}

  </body>

</html>
