{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ partial "head.html" . }}

  <body class="page-error-single">
    {{ partial "header.html" . }}

    <div id="main-content" role="main">
      <div class="bg-blue">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
              <a class="site-logo" href="{{ .Site.Home.RelPermalink }}" accesskey="1" title="Home" aria-label="Home">
                <div class="logo-text">{{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</div>
                <div id="SiteLogo">{{ partial "ballot_box-blue.html" . }}</div>
              </a>
            </div>

          </div>
        </div>
      </div>

    <div class="page-vote-404" id="main" role="main">
      <div class="bg-lightblue" id="skip-target">
      <section class="grid-container page-inner" id="main-content">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4"></div>
          <div class="tablet:grid-col-8 right-shift">

            {{ range $.Site.Home.AllTranslations }}
            {{ $t := ( index $.Site.Data.translations .Language.Lang ) }}
            {{ if $t.error }}
            <div class="translation voter-info" lang="{{ .Language.Lang }}" hidden>
              <h1 class="main-heading">
                {{ $translation.error.error_main_heading }}
              </h1>
              <h2 class="usa-intro">{{ $t.error.error_intro }}</h2>

              <p>{{ $t.error.error_msg }}</p>

              <ul>
                <li>{{ $t.error.error_msg1 }}</li>
                {{ $error_msg2_link := (print `<a href="` .Site.Home.RelPermalink `">` $t.error.error_msg2_link `</a>`) }}
                <li>{{ replace $t.error.error_msg2 "%link%" $error_msg2_link|safeHTML }}</li>
                {{ $error_msg3_link := (print `<a href="` $t.error.error_usa_link `">` $t.error.error_msg3_link `</a>`) }}
                <li>{{ replace $t.error.error_msg3 "%link%" $error_msg3_link|safeHTML }}</li>
              </ul>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
        </div>

      </section>
      </div>

      <!-- Footer BEGIN -->
      <footer>
        {{ partial "partials/contact-identifier.html" . }}
      </footer>
      <!-- Footer END -->
    </div>

    {{ partial "analytics.html" . }}
    {{ partial "scripts.html" . }}

    <!--  Use the browser path segment to unhide the correct 404 translation -->
    <script>
      var path = window.location.pathname.split('/').slice(1);
      path = path[path.length - 1] === "404.html" ? [path[path.length - 2]] : path;
      var translation = document.querySelector('.translation[lang="'+ encodeURI(path[0]) + '"]') || document.querySelector('.translation[lang="en"]');
      translation.removeAttribute('hidden');
    </script>

  </body>

</html>
