{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

{{ partial "head.html" . }}
  <body class="page-vote">
    {{ partial "header.html" . }}
    <div class="page-vote-main" id="main" role="main">
      <a class="skipnav" href="#main-content">Skip main navigation</a>
      <div class="usa-grid page-inner" id="main-content">
        <header>
          <h1 class="usa-display">{{ $translation.homepage.header }}</h1>
        </header>
      </div>
    </div>

    <!-- Register BEGIN -->
    <div class="usa-grid container-register">
      <div class="usa-width-one-third container-ballot">
        <img class="ballot-img" src="{{ .Site.BaseURL }}assets/img/ballot_box.svg" alt="Ballot box">
      </div>
      <div class="usa-width-two-thirds">
        <form class="form-register" action="/states/" method="get">
          <h2 class="form-register-heading">{{ $translation.homepage.state_selection.label }}</h2>
          <label class="usa-sr-only" for="js-user-selection">
            {{ $translation.homepage.state_selection.default }}
          </label>
          <select name="user-selection" id="js-user-selection">
            <option value="">
              {{ $translation.homepage.state_selection.default }}
            </option>
            {{ if eq $.Site.Params.language "english" }}
              {{ range where .Data.Pages.ByTitle "Section" "register" }}
                <option value="{{ replace .Title "." "" | lower | urlize }}">{{ title .Title }}</option>
              {{ end }}
            {{ else }}
              {{ range where .Data.Pages.ByTitle "Section" "registrar" }}
                <option value="{{ .Slug }}">{{ title .Title }}</option>
              {{ end }}
            {{ end }}
          </select>
          <button class="usa-button-big usa-button-disabled" id="js-user-submit" type="submit">
            {{ $translation.homepage.state_selection.submit }}
          </button>
        </form>
      </div>
    </div>
    <!-- Register END -->

      <div class="usa-grid home-trio">
        <div class="usa-width-one-third">
          <h2>
            <a href="#">{{ $translation.homepage.learn }}</a>
          </h2>
        </div>
        <div class="usa-width-one-third">
          <h2>
            <a href="#">{{ $translation.homepage.check }}</a>
          </h2>
        </div>
        <div class="usa-width-one-third">
          <h2>
            <a href="#">{{ $translation.homepage.find }}</a>
          </h2>
        </div>
      </div>

      <!-- Footer BEGIN -->
      <footer>
        <div class="footer-graphic">
          <img src="{{ .Site.BaseURL }}assets/img/ballot_box.svg" alt="Ballot box">
        </div>

        {{ partial "footer.html" . }}
      </footer>
      <!-- Footer END -->

    {{ partial "analytics.html" . }}
    {{ partial "scripts.html" . }}

    <script>
      // TODO: This exists only for basic testing. It will be removed once
      // the designs are more fleshed out. This is just a work in progress for now.
      ( function( g ) {;
        var button = document.getElementById( 'js-user-submit' );
        button.addEventListener( 'click', function ( event ) {
          event.preventDefault();
          {{ if eq $.Site.Params.language "english" }}
          var registerPath = "register/";
          {{ else }}
          var registerPath = "registrar/";
          {{ end }}
          var selection = document.getElementById( 'js-user-selection' );
          if ( selection.value ) {
            g.location.href = g.location.origin + g.location.pathname + registerPath + selection.value;
          }
        }, false );
      } )( this );
    </script>

  </body>

</html>
