{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ partial "head.html" . }}

<body class="page-vote">


  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDRBDKS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "header.html" . }}

  <main class="page-vote-main" id="main">

    {{ partial "state-selector.html" . }}

    <div class="bg-lightblue">
      <div class="grid-container accordion homepage-acc">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4">

          </div>
          <div class="tablet:grid-col-8 right-shift">
   
              {{ partial "accordion-group.html" . }}

            <section class="page-section registered" aria-label="{{ $translation.homepage.registered__header }}">
              <header>
                <h2 class="content-heading">{{ $translation.homepage.registered__header }}</h2>
              </header>
              <div class="voter-resources">
                <h3>
                  {{ $resources_intro := replace $translation.homepage.registered__resources_intro "%USA.gov%" "USA.gov" }}
                  {{ replace $resources_intro "%link%" (partial "links/homepage-registration-link.html" .)|safeHTML }}:
                </h3>
                <ul class="registered-resources">
                  {{ if $translation.homepage.registered_links__absentee_url }}
                  <li><a
                    href="{{ $translation.homepage.registered_links__absentee_url }}">{{ $translation.homepage.registered_links__absentee }}</a>
                </li>
                {{ end }}
                <li><a
                    href="{{ $translation.homepage.registered_links__electionday_url }}">{{ $translation.homepage.registered_links__electionday }}</a>
                </li>
                <li><a
                    href="{{ $translation.homepage.registered_links__voterid_url }}">{{ $translation.homepage.registered_links__voterid }}</a>
                </li>
                <li><a
                    href="{{ $translation.homepage.registered_links__process_url }}">{{ $translation.homepage.registered_links__process }}</a>
                </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer BEGIN -->
  {{ partial "footer.html" . }}
  <!-- Footer END -->

  {{ partial "analytics.html" . }}
  {{ partial "scripts.html" . }}


</body>

</html>
