{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ partial "head.html" . }}

<body class="page-vote">


  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDRBDKS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "header.html" . }}

  <main class="page-vote-main" id="main">

    <div class="bg-blue css-arrow">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4">
            <div class="site-logo" data-test="vote-logo" aria-label="Vote.gov">
              <div class="logo-text">{{ replace .Site.Params.Owner "%Vote.gov%" "Vote.gov" }}</div>
              <div id="SiteLogo">{{ partial "ballot_box-blue.html" . }}</div>
            </div>
          </div>
          <div id="skip-target" class="tablet:grid-col-8 right-shift">
            <section class="register align-bottom" role="region" aria-label="{{ $translation.homepage.header }}">
              <header>
                <h1 class="main-heading" data-test="main-header">{{ $translation.homepage.header | safeHTML }}</h1>
              </header>

              <form id="state-combo-box">
                <label for="state-input">{{ $translation.homepage.state_selection__heading }}</label>
                <div class="input-buttons-group" data-test="state-selection">
                <input type="text" class="state-input" id="state-input" autocomplete="off" placeholder="{{ $translation.homepage.state_selection__placeholder }}">
                  <div class="input-control-container">
                    <button id="state-dropdown-btn" tabindex="-1" class="dropdown-btn" type="button" aria-hidden="true" data-test="dropdown-btn"></button>
                  </div>
                </div>
                <nav id="state-results-container" hidden>
                  <ul id="results-list" data-test="state-list">
                    {{ $states := where .Site.RegularPages.ByTitle "Section" .Site.Params.register_path }}
                    {{ range ($states.ByParam "state_name") }}
                    <li >
                      <a key="{{ .Params.state_abbreviation | lower }}" href="{{ .Site.Home.RelPermalink }}{{ .Site.Params.register_path }}/{{ .Params.state_abbreviation | lower }}/">{{ .Params.state_name }}</a>
                    </li>
                  {{ end }}
                  </ul>
                </nav>
              </div>
              </form>

            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-lightblue">
      <div class="grid-container accordion homepage-acc">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4">

          </div>
          <div class="tablet:grid-col-8 right-shift">
   
              {{ partial "accordion-group.html" . }}

            <section class="page-section registered" aria-label="{{ $translation.homepage.registered__header }}">
              <header>
                <h2 class="content-heading">{{ $translation.homepage.registered__header }}</h2>
              </header>
              <div class="voter-resources">
                <h3>
                  {{ $resources_intro := replace $translation.homepage.registered__resources_intro "%USA.gov%" "USA.gov" }}
                  {{ replace $resources_intro "%link%" (partial "links/homepage-registration-link.html" .)|safeHTML }}:
                </h3>
                  {{ if $translation.homepage.registered_links__absentee_url }}
                  <li><a
                    href="{{ $translation.homepage.registered_links__absentee_url }}">{{ $translation.homepage.registered_links__absentee }}</a>
                </li>
                {{ end }}
                <li><a
                    href="{{ $translation.homepage.registered_links__electionday_url }}">{{ $translation.homepage.registered_links__electionday }}</a>
                </li>
                <li><a
                    href="{{ $translation.homepage.registered_links__voterid_url }}">{{ $translation.homepage.registered_links__voterid }}</a>
                </li>
                <li><a
                    href="{{ $translation.homepage.registered_links__process_url }}">{{ $translation.homepage.registered_links__process }}</a>
                </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer BEGIN -->
  {{ partial "footer.html" . }}
  <!-- Footer END -->

  {{ partial "analytics.html" . }}
  {{ partial "scripts.html" . }}


</body>

</html>
