@use '../variables' as *;

.footer-contact {
  padding: 24px 0;
}

.twitter-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  margin-top: 1.5rem;

  &:focus,
  &:hover {
    color: #11385b;
  }

  svg {
    display: inline-block;
    fill: $color-blue-headings;
    vertical-align: middle;
  }
}

.email-vote {
  text-decoration: none;
  white-space: nowrap;
  color: black;

  &:focus,
  &:hover {
    color: #11385b;
  }

  svg {
    display: inline-block;
    fill: $color-blue-headings;
    vertical-align: middle;
  }

  span {
    text-decoration: underline;
  }
}

.eac-vote-partnership {
  img {
    height: 3rem;
    width: auto;
  }

  .vote-logo {
    margin-left: 0.7rem;
  }

  .eac-logo {
    margin-top: 0.5rem;
  }

  .vote-txt {
    color: $color-blue-headings;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
  }

  .partnership-txt {
    color: $blue-black;
    font-weight: 700;
    font-size: 18px;
    padding: 1rem;

    @media (min-width: 639px) {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 639px) {
    text-align: center;
  }
}
