// This component leverages the .usa-button-big class from `uswds`.
//

.usa-disclaimer {
  background-color: color('primary-darker');
  color: color('white');
  font-size: 13px;
  height: 43px;

  @include at-media('tablet') {
    font-size: size('body', '3xs');
  }
}

.usa-disclaimer-official {
  float: left;
  display: block;
  line-height: 1rem;
  margin-top: 0.25rem;
  width: 60%;

  @include at-media('tablet') {
    margin-top: 1rem;
  }
}

.usa-disclaimer-official__img {
  float: left;
  margin-right: 0.75rem;
  padding-top: 0.25rem;

  @include at-media('tablet') {
    padding-top: 0;
  }
}

.translations {
  float: right;
  display: block;
  background-color: color('primary-darker');
  padding-top: 0.4rem;
}

.translation-link {
  font-size: .875rem;
  height: 1.5rem;
  margin-top: 0.17rem;
  padding-top: .35rem;
}
