.usa-header .usa-alert--info {
  margin-top: 0;
}

.banner__text-container {
  flex: 1;
}

.usa-banner__header {
  padding-right: 0.5rem;
}

.usa-banner__icon {
  margin-left: 0.3rem;
}

.usa-banner__button {
  margin-right: 0.5rem;
}

[dir="rtl"] .usa-banner__header-flag {
  margin-left: 0.5rem;
  margin-right: 0;
}
