.usa-language-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0.5rem 0;
}

.switcher-desktop {
  @media (max-width: 800px) {
    display: none;
  }
}

.switcher-mobile {
  @media (min-width: 800px) {
    display: none;
  }
}

// Hide Navajo translation temporarily.
li.usa-language__submenu-item[data-lang="lang-nv"] {
  display: none;
}

.usa-language__primary-item:last-of-type .usa-language__submenu {
  [dir="rtl"] & {
    right: -1;
    left: 0;
    padding-right: 0;
  }
}
