.usa-language-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.switcher-desktop {
  @media (max-width: 800px) {
    display: none;
  }
}

.switcher-mobile {
  @media (min-width: 800px) {
    display: none;
  }
}