#voteStateSelector {
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2rem;

  button {
    background-image: url(../img/usa-icons/unfold_more.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.25rem;
    padding-right: 2.25rem;
    font-weight: normal;
    background-color: #f0f0f0;
    color: #000;
  }

  &:focus-within {
    button {
      border-radius: 0.25rem 0.25rem 0 0;
      background-color: #162e51;
      color: #fff;
      background-image: url(../img/unfold_more-white.svg), linear-gradient(transparent, transparent);
    }

    #stateOptions {
      display: block;
    }
  }

  .usa-language__submenu {
    width: auto;
    left: 0;
    right: 0;
    border-radius: 0 0.25rem 0.25rem;
    padding: 1.2rem;
  }

  .usa-language__submenu__list {
    padding: 0;
    margin-top: 0;

    @media(min-width: 768px) {
      column-count: 2;
    }

    @media(min-width: 1024px) {
      column-count: 3;
    }
  }

  .usa-language__submenu-item {
    display: inline-block;
    width: 100%;
    border: 0;
    font-size: 1.06rem;

    a:focus,
    a:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

#stateOptions {
  display: none;
}
