.usa-banner {
  //These .usa-banner overrides are a hack to undo the mobile behavior of the USWDS banner
  &__header--expanded .usa-banner__button::before,
  &__header--expanded .usa-banner__button::after {
    content: unset !important;
    -webkit-mask: url(../img/chevron.svg) no-repeat center / 1.31282ex 0.8ex;

    @include at-media('tablet') {
      content: "" !important;
    }
  }

  &__header {
    padding-right: 0.5rem;
  }

  &__header--expanded .usa-banner__header-action {
    display: inline-block;

    @include at-media('tablet') {
      display: none;
    }

    &::after {
      transform: rotate(180deg);
    }
  }

  &__header--expanded .usa-banner__button-text {
    display: none;

    @include at-media('tablet') {
      display: inline-block;
    }
  }

  &__header-action::after,
  &__button::after,
  &__button:hover::after {
    background: url("../img/chevron.svg") no-repeat center / 1.31282ex 0.8ex;
    background-color: unset;
  }
  &__header-action{
    font-size: 0.8rem;
  }
}