{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<!doctype html>
<html lang="{{ $.Site.Params.lang }}">
  <head>
    {{ partial "head.html" . }}

        <!-- JS Dependencies -->
        <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script data-require="moment.js@*" data-semver="2.14.1" src="https://npmcdn.com/moment@2.14.1"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js"></script>

        <!-- CSS Styles -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.css" />
</head>

  <body class="page-vote">
    {{ partial "header.html" . }}
    <div class="page-vote-main" id="main" role="main">

      <a class="usa-skipnav" href="#main-content">Skip main navigation</a>

      <div class="grid-container" id="main-content">

    <div id="calendar"></div>
    <script type="text/javascript">

   $(document).ready(function() {

    var events = [];
    {{ range where .Site.Pages.ByTitle "Section" .Site.Params.register_path }}
    {{ if eq .Title "Alaska" }}

    events.push({
      start: {{.Params.register}},
      end: {{.Params.register}},
      title: {{.Params.title}}
    });
    {{end}}
      {{end }}
  console.log(events);
   $('#calendar').fullCalendar({
      events: events
    });
      });
    </script>
  </body>
</html>
