{{ $envURL := ( index .Site.Params.envURL (os.Getenv "BRANCH") ) }}
{{ $envURL := cond (eq $envURL nil) .Site.Params.envURL.fed $envURL }}

<div class="sitemap">
  <h2>Main Navigation</h2>
  <ul class="main-nav usa-list">
      {{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
      <li><a hreflang="{{ $translation.Language.Lang }}" href="{{ .Site.Home.RelPermalink }}">Home</a></li>
      {{ range where .Site.RegularPages "Section" "!=" .Site.Params.register_path }}
      <li><a hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
  </ul> 

  <h2>Register to Vote - by State and Territory</h2>
  <ul class="register-nav usa-list">
    {{ range where .Site.Pages "Section" .Site.Params.register_path}}
        <li><a hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
          {{ .Params.state_name }}
        </a></li>
    {{ end }}
  </ul> 
</div>
