<div class="usa-grid page-inner main-content">
  <header>
    <h1>
      <!-- Translate me -->
      Find your polling place
    </h1>
  </header>
  <p class="usa-font-lead">
    <!-- Translate me -->
    We’re sorry: We don’t have updated information on your polling place at this time. Please check back within two weeks of your upcoming election.
  </p>
  <p>
    <!-- Translate me -->
    You can also check your polling place at the <a href="#">State of California Elections Commission website</a>.
  </p>
</div>
