<div class="usa-grid page-inner main-content">
  <header>
    <h1>
      <!-- Translate me -->
      You’re voting in ((California)).
    </h1>
  </header>
  <h6>Upcoming Election</h6>
  <p class="font-serif">
    June 7, 2016<br>
    Presidential primary election
  </p>
  <h3>Register to vote</h3>
  <p>California residents can register to vote online. To vote in the upcoming election, you must register by May 23.</p>
  <a href="#">Start your online registration</a>
  <h3>Check your registration</h3>
  <p>Find out whether you’re registered to vote at your current address.</p>
  <a href="#">Check your registration status</a>

  <!-- Ways to vote BEGIN -->
  <h3>Ways to vote</h3>
  <div class="graphic-list">
    <div class="usa-width-one-third">
      <img src="{{ .Site.BaseURL }}assets/img/step-1.png">
      <h4 class="usa-graphic-list-heading">
        Vote by mail
      </h4>
      <p>
        To vote by mail, you must request a vote-by-mail ballot by May 31. Your ballot must be postmarked or returned in person by June 7.
      </p>
      <a href="#">Request a vote-by-mail ballot</a>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ .Site.BaseURL }}assets/img/step-2.png">
      <h4 class="usa-graphic-list-heading">
        Vote in person
      </h4>
      <p>
        You can vote at the polls on Election Day, June 7, from 7:00 a.m. to 8:00 p.m.
      </p>
      <p>
        Some counties also offer early voting at a few locations before Election Day.
      </p>
      <a href="#">Find your polling place</a>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ .Site.BaseURL }}assets/img/step-3.png">
      <h4 class="usa-graphic-list-heading">
        Absentee voting
      </h4>
      <p>
        California allows absentee voting for residents who [lorem ipsum]. You must request an absentee ballot by date and return it by [date].
      </p>
      <a href="#">Learn more about absentee voting</a>
    </div>
  </div>
  <!-- Ways to vote END -->

  <h3>Election day</h3>
  <p>Learn about what to expect on election day in California at the <a href="#">vote411.org California Election Guide</a>.</p>
  <h3>Other resources</h3>
  <p>See past election results for your state at the <a href="#">State of California Elections Commission website</a>.</p>
  <p>Look up campaign finance data on the upcoming election at <a href="#">beta.fec.gov</a>.</p>
</div>
