<div class="usa-grid page-inner main-content">
  <header>
    <h1>
      <!-- Translate me -->
      Your polling place
    </h1>
  </header>
  <p class="usa-font-lead">
    <!-- Translate me -->
    Enter your current address to find your polling place.
  </p>
  <div class="address">
    <h3>San Francisco Community Center</h3>
    <p>456 Hill Street<br>
    San Francisco, CA 94112</p>
  </div>
  <h3>Accessibility</h3>
  <p>Polls are open at your polling place on Election Day from 7:00 a.m. until 8:00 p.m.</p>
  <h3>Hours</h3>
  <p>Find out whether you’re registered to vote at your current address.</p>
  <h3>Early voting</h3>
  <p>You can also participate in early in-person voting between [date and date, from time until time.]</p>
  <p>Early voting is located at:</p>
  <p>
    <b>City Hall </b>
    <br>
    456 Hill Street 
    <br>
    San Francisco, CA 94112
  </p>
  <p>[Any additional information about accessibility or access.]</p>
</div>
