{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}


<header>
  <h2>
    {{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}
  </h2>
</header>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ replace $translation.register.in_person__intro "%state_name%" .Params.state_name }}
        <a href='{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}'>{{ replace $translation.register.in_person__link "%state_name%" .Params.state_name }}.</a>"
      }
    },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ replace $translation.register.dates__bymail_deadline "%mail_deadline%" .Params.mail_deadline }}<br><br>{{ replace $translation.register.dates__inperson_deadline "%ip_deadline%" .Params.ip_deadline }}"
        }
      },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $translation.register.dates__electionday }}"
        }
      }]
  }
</script>

<p>
  {{ replace $translation.register.in_person__intro "%state_name%" .Params.state_name }}
  <a class="reg-link" href="{{ .Params.more_info_link }}{{ if in .Params.more_info_link "?" }}&{{ end }}?ref={{ $.Site.Params.Referrer_Short_Code }}">
  {{ replace $translation.register.in_person__link "%state_name%" .Params.state_name -}}
  {{ if .Params.more_info_link_english_only }}
  {{ .Site.Params.english_only -}}
  {{ else if .Params.more_info_link_spanish_selection }}
  {{ $translation.register.selections_link -}}
  {{ end }}.
  </a>
</p></p>{{ partial "deadlines.html" . }}
