{{ $translation := ( index $.Site.Data.translations .Site.Language.Lang ) }}
{{ $in_person_intro := replace $translation.register.in_person__intro "%link%" (partial "links/in-person-link.html" .) }}
<header>
  <h2>
    {{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}
  </h2>
</header>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ replace $translation.register.heading2 "%state_name%" .Params.state_name }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ replace $in_person_intro "%state_name%" .Params.state_name | safeHTML }}
      }
    },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ replace $translation.register.dates__bymail_deadline "%mail_postmarked_deadline%" .Params.mail_postmarked_deadline }}<br><br>{{ replace $translation.register.dates__inperson_deadline "%ip_deadline%" .Params.ip_deadline }}"
        }
      },{
        "@type": "Question",
        "name": "{{ replace $translation.register.dates__electionday_heading "%state_name%" .Params.state_name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ $translation.register.dates__electionday }}"
        }
      }]
  }
</script>

<p>
  {{ replace $in_person_intro "%state_name%" .Params.state_name | safeHTML }}
</p>

{{ partial "deadlines.html" . }}
