@use 'uswds-core' as *;

.about-page {

  h2 {
    color: #002F6C;
  }

  p a {
    color: #11385b;
  }

    .usa-button {
        width: auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

}
